[2016-12-08 18:40] duplich opened #1 "Documentation inconsistent"
Hi there, your component looks promising but the instalation process on https://www.npmjs.com/package/react-form is inconsistent.

Sidebar says install react-form
Instalation says install lt-react-form
Greetings

[2016-12-08 18:41] duplich opened #2 "Demo not working in IE"
Your Demo app and my local one are not working in Internet Explorer

[2016-12-08 19:02] tannerlinsley commented on #1
It should be up to date now :) Thanks

[2016-12-08 19:02] #1 closed

[2016-12-08 19:04] tannerlinsley commented on #2
Could you post any errors you are seeing in the console? More info would help me solve the problem.

[2016-12-08 20:02] duplich commented on #2
Hi @tannerlinsley, I did not receive any errors, the site kind of ended up in a loop and never loaded. Did you try to load it with IE?

[2016-12-08 20:17] tannerlinsley commented on #2
I'm on a Mac right now. So I haven't tried it yet
On Thu, Dec 8, 2016 at 1:02 PM Jasmin Causevic <notifications@github.com>
wrote:

[2016-12-09 09:58] Bloomca opened #3 "API errors handling"
Hi! Thanks for publishing your library.

So, what I can see, you have independence from state management, which is nice, also for standard inputs it is pretty declarative.

But I haven't found anything about how to fill errors from API (or just outside the form). We have such hooks inside child function, but it seems quite hacky to save such hooks to some closure and invoke later. Or maybe I just

[2016-12-09 15:54] tannerlinsley commented on #3
1st question: what would be the use case for manually setting errors in a
form. Shouldn't this be the responsibility of the validate lifecycle method?

2nd, technically you can use a component ref and use the instance of the
form as you would internally. See here
https://facebook.github.io/react/docs/refs-and-the-dom.html
On Fri, Dec 9, 2016 at 2:58 AM Seva Zaikov <notifications@github.com> wrote:

[2016-12-09 16:53] Bloomca commented on #3
1. Well, validate is a synchronous operation. So errors outside of client-side validation should be added manually. Even with async validation we still can run into this problem – imagine a situation when we have to show message near the input, if time run off.

2. But internally I won't use any refs! The idea is that API errors are the same errors as we have client-side, and sometimes it is not j

[2016-12-09 16:56] tannerlinsley commented on #3
I would love to see some pseudo code on your you might want this to work.
Outside of this discussion I plan on adding some async capabilities really
soon
On Fri, Dec 9, 2016 at 9:53 AM Seva Zaikov <notifications@github.com> wrote:

[2016-12-09 19:13] dcolucci commented on #3
I notice `validate` passes state and props in addition to form values.  Maybe this can help us.  Modifying your Address example slightly (purposefully verbose & pedantic),
[code]
And then somewhere else we could have something like
[code]

Then potentially-async outside operations (talking to API, etc) could force a re-render of the form with relevant validation messages.

[2016-12-09 19:17] tannerlinsley commented on #3
That's a good point. Its proving to be very flexible and that's a cool use
of props
On Fri, Dec 9, 2016 at 12:13 PM David Colucci <notifications@github.com>
wrote:

[2016-12-09 19:18] tannerlinsley commented on #3
Have you tried overriding errors on the form using the errors prop?
On Fri, Dec 9, 2016 at 12:17 PM Tanner Linsley <tannerlinsley@gmail.com>
wrote:

[2016-12-09 19:24] dcolucci commented on #3
I haven't tried that nor any of the above, more just thinking out loud in response to original question.  The above idea also relies on `validate` being called when the component receives new props, which it seems like it _should_ since `componentWillReceiveProps` calls `setFormState` which calls `validate`.

[2016-12-09 19:29] tannerlinsley commented on #3
Yep. Theoretically it would
On Fri, Dec 9, 2016 at 12:24 PM David Colucci <notifications@github.com>
wrote:

[2016-12-09 19:40] tannerlinsley commented on #3
Honestly at this point, whatever needs to happen (as long as it aligns well with the api in the long run) I can build in fairly quickly.  Just let me know what the most painless path to your goal is and I'll make your wildest dreams come true haha

[2016-12-09 20:00] tannerlinsley opened #4 "Improve Immutability"
Aside from everything functioning great, performance and component lifecycle could be slightly improved by enforcing immutability throughout a few places.  I'm open to ideas.

[2016-12-09 20:55] dcolucci commented on #4
Not related to immutability, but a popular way to improve performance / UX of React applications is to optimize rendering using the [`shouldComponentUpdate` lifecycle method](https://facebook.github.io/react/docs/react-component.html#shouldcomponentupdate).  Right now, every time the top-level form sets a new state or receives new props, every component in its tree is re-rendering.  This means all

[2016-12-09 21:03] tannerlinsley commented on #4
That's a great start for sure.  I've never used PurComponent's either, and judging by the reliance on the deeper data structures, it might produce some false negatives if we did use it.

I know this is one of the tipping points that redux-form had where they were supplying many props (much like react-form does) to the child component that renders the form.  Because of this pattern, the child compo

[2016-12-09 21:15] dcolucci commented on #4
I think you are right, it's probably not worth it at this point.  The `Form`'s own render logic is actually pretty light, it's more a concern of how complex the downstream components are, which can be more granularly controlled if they implement `shouldComponentUpdate`.

What might be cool though to try is taking some hard measurements, and then you can see how performance changes as the wrapped c

[2016-12-09 21:17] tannerlinsley commented on #4
One compromise I am imagining is possibly putting all of the formstate props behind their own subscriber components permanently.  It would be similar in spirit to redux-form's approach, but instead of needing to write lengthy selectors, you would be referencing values much closer to home.

imagine:
[code]

[2016-12-09 21:18] tannerlinsley commented on #4
That would allow the main form component to be treated as pure, unless it's own props change :)

[2016-12-09 21:20] tannerlinsley commented on #4
I'm trying to find any other props the form passes down that would need to be placed behind a subscriber component if we took this approach...

[2016-12-10 11:10] Bloomca commented on #3
Well, the most common use-case for API errors is after invoking `submit` method. I personally would expect explicit errors merge, but as @dcolucci pointed out, it is basically possible in validations using props. Sorry, missed this functionality (and I definitely think it should be reflected in documentation).

Thank you!

[2016-12-10 11:10] #3 closed

[2016-12-12 00:15] ant1d0t opened #5 "immutability"
https://youtu.be/dM_NUMEO69k

Check out the code at minutes 3.00 of the video. Maybe the idea there is helping you...

[2016-12-12 02:21] tannerlinsley commented on #5
Thanks for the tip. Closing in favor of existing immutability issue :)

[2016-12-12 02:21] #5 closed

[2016-12-12 08:25] justrag opened #6 "Wrong example for onSubmit in README"
onSubmit example in README is a copy of preSubmit example
https://github.com/tannerlinsley/react-form?#onsubmit-values-state-props

[2016-12-12 14:09] tannerlinsley commented on #6
Nice catch!  If you want to fix it I'll accept a PR. Otherwise I'll fix that as soon as I can

[2016-12-12 16:12] tannerlinsley commented on #6
Fixed in a12dd57ca67d9b1e4c7e14299f7be16893bacadc

[2016-12-12 16:12] #6 closed

[2016-12-12 17:08] tannerlinsley commented on #4
This might take some more thinking and discover as the library matures.  For now, everything works and performance is on par with what is expected from React.  Closing until it becomes a real issue.

[2016-12-12 17:08] #4 closed

[2016-12-12 22:19] tannerlinsley commented on #2
Looks like it's just a polyfill issue for IE in general.  I've added the babel-polyfill for the example, but still no dice. I have to admit, it's pretty terrible debugging Internet Explorer.  Add in the virtual machine requirement, and it sucks real bad.  If anyone has any IE debugging experience, I'll allow them to reopen this issue.  For now I have verified that the example works on all *modern*

[2016-12-12 22:19] #2 closed

[2016-12-13 05:54] duplich commented on #2
I agree that this is terrible, to work with IE but most of the bigger clients still use IE as their main browser. Therefore we can not neglect this issue. :/

[2016-12-13 14:04] tannerlinsley commented on #2
I just signed up for browser stack. So I'll take another look at this today
On Mon, Dec 12, 2016 at 10:54 PM Jasmin Causevic <notifications@github.com>
wrote:

[2016-12-13 14:19] VasilyShelkov opened #8 "radio buttons ?"
Are there any plans to handle radio buttons?

How would you suggest handling them ?

[2016-12-13 14:28] tannerlinsley commented on #8
Radios would be fairly straight forward to handle. The question always
lands on whether to generate the options from an array or make the user
generate the options with a smaller building block. I personally want to
implement the latter, but was waiting for some feedback first
On Tue, Dec 13, 2016 at 7:19 AM Vasily Shelkov <notifications@github.com>
wrote:

[2016-12-13 16:00] tannerlinsley commented on #8
Fixed in 5eadda7422ffb510da4e64be8b22544713cfe90f :)

[2016-12-13 16:00] #8 closed

[2016-12-13 16:00] tannerlinsley commented on #8
https://github.com/tannerlinsley/react-form#-text-select-checkbox-textarea-radio-

[2016-12-13 17:45] VasilyShelkov commented on #8
Rapid turn around thanks :D

I don't think I minded either way but personally would have thought as radio buttons as separate entities so made sense with the latter and kinda stays consistent with the format or checkboxes which I think they're most similar to.

👍

[2016-12-13 17:51] tannerlinsley commented on #8
Awesome! Good to hear
On Tue, Dec 13, 2016 at 10:45 AM Vasily Shelkov <notifications@github.com>
wrote:

[2016-12-20 07:10] timothyallan opened #13 "getValue() and Controlled 3rd party components"
Hi there,

I'm using the Material UI TextField component as a drop in replacement for your React Select demo and giving your library a spin. Few things that popped up that aren't necessarily anything to do with your library, but may be worthwhile thinking about :)

Here's the code:

[code]

Now, Material UI returns the event object in `val`. That caused an infinite loop in your `removeNestedErrorV

[2016-12-20 13:24] tannerlinsley commented on #13
The first problem is a small edge case o can handle when I jump back into
the code good find.

For controlled components that complain, use the default value parameter
for getValue. Eg getValue(field, '')

That should stop react from barking at undefined values.
On Tue, Dec 20, 2016 at 12:10 AM Tim <notifications@github.com> wrote:

[2016-12-20 17:12] timothyallan commented on #13
Missed the default value param. Thanks!

[2016-12-21 06:33] timothyallan opened #14 "A Touching story"
Oh hey, me again.

I believe there's an issue with Touched(), the docs say ```When a field is changed via setValue() or setTouched(), its corresponding field location in this object is marked as true.```  However, this isn't always the case, and it's messing with some error handling I'm trying to implement.

It can be shown even on the demo at http://react-form.zabapps.com/

Type "Bob" into the fu

[2016-12-21 17:01] tannerlinsley commented on #14
You are correct. That's not expected behavior.  This line: https://github.com/tannerlinsley/react-form/blob/master/src/form.js#L69 needs to be changed from:
[code]
to:
[code]

This way, the value will not be passed, and the `touched` value will default to `true`

If you want to fix it, I'll accept a PR for it :)

[2016-12-21 17:02] #13 closed

[2016-12-22 07:00] thg303 opened #15 "issue with rendering components which start with lowercase"
here's a sample code:
[code]

it simply does not render the **foo** but when I rename the component to **Foo** everything works fine.
not a big deal but took me couple of hours to find it

[2016-12-23 18:37] tannerlinsley commented on #15
Unfortunately, JSX is limited to some rules that prohibit lowercase component variables from being rendered as components. http://stackoverflow.com/questions/37345230/can-i-use-component-name-in-lower-case-in-jsx

[2016-12-23 18:37] #15 closed

[2016-12-28 09:33] vladra commented on #4
I've encountered issue with pretty complex form being slow to render (because all form parts are re-rendered).

I've solve it with custom defined Inputs, where form value is stored in custom input state. Using this state I can compare it with nextState in shouldComponentUpdate.

[code]

So as you see, I need to keep internal custom form input state in sync with react-form state. And thats not the

[2016-12-28 09:36] vladra opened #19 "Slow render speed for complex forms"
I've encountered issue with pretty complex form being slow to render (because all form parts are re-rendered).

I've solved it with custom defined Inputs, where form value is stored in custom input state. Using this state I can compare it with nextState in shouldComponentUpdate.

[code]

So as you see, I need to keep internal custom form input state in sync with react-form state. And thats not the

[2016-12-28 14:07] vladra commented on #19
And actually this approach doesn't work if I need to change form state outside of specific input field (for example load data to form on button click)

[2016-12-28 16:59] vladra commented on #14
I have not exactly same issue, but it is somehow related to this line also.

Lets say I have 3 input fields - `user.firstName`, `user.lastName` and `company.name`

After I do this (done on button click) - `setValue('user', {})` - I see strange bug. On the onBlur event (set to `() => setTouched`), input value is set to `true`.

I've found 2 ways of fixing this problem:

1. Doing `setValue('user', {

[2016-12-28 22:58] tizzle opened #20 "Trouble setting defaultValues for a form."
I'm writing a little shop backend using react-form and i'm struggling prefilling the form to edit existing data. I tried passing this to the form component like this

[code]

This adds the defaultValues data to the Forms props object alright, but it doesn't render in the form. What's even more confusing is: When not passing the defaultValues to the form, the props object has an empty defaultValues

[2016-12-28 23:01] tannerlinsley commented on #20
Try just sending in the values instead of the default values:
[code]

Does that work?

[2016-12-28 23:03] tannerlinsley commented on #19
How does your form grow?  Do you simply have a lot of inputs?  Or do you have extremely deep objects as your values?

[2016-12-28 23:15] tizzle commented on #20
Like a charm!

Thank you so much for the prompt answer.

[2016-12-28 23:15] #20 closed

[2016-12-29 18:40] vladra commented on #19
I have form which is built based on values it has, with ability to add new values. For example `tariffs[0].name`, `tariffs[0].price`. About 30-40 fields on average. 10-15 of them are multiselects, few text inputs and others are selects.

I've found the you provide access to formAPI via context, so this solved my problem for now. I still need to store input value somewhere (outside of form state),

[2017-01-04 19:24] tannerlinsley commented on #20
Though @tizzle's issue was solved by other means, a bug that spawned this issue was going and fixed that did not allow default values to be set via props.

[2017-01-09 18:51] tannerlinsley commented on #19
Yeah, optimizing for extremely large forms here would potentially touch all points of the library, so I think we need to ponder how we would accomplish this a bit more before we go diving in :)

Closing this issue for now since you were able to skirt around things with access to the internal state, but let's keep the discussion going as we find better ways to optimize things.

[2017-01-09 18:51] #19 closed

[2017-01-09 18:53] #14 closed

[2017-01-12 15:04] marshallswain opened #25 "How to perform async validation?"
You have created an amazing form library.  Thank you.

I want to integrate this into my [auth-component](https://github.com/icanjs/auth-component) project.  I need to be able to run a validation to check if the username is available as the user is typing in the text field.  Is this possible with the current API?  If not, I can try to help add the feature, if you are open to it.

[2017-01-13 13:35] marshallswain commented on #25
I was able to figure out a good solution with the current API.  I just created a form field called `emailError` and used the `FormField` utility to make a custom hidden input with some async logic.  Here's my quick and dirty example:

[code]

[2017-01-13 13:35] #25 closed

[2017-01-13 16:55] marshallswain commented on #25
Built in async support would be nice.  I was studying form.js looking at where it would be useful.  It would be pretty nice if we could make it possible to specify a Promise (or a function that returns one) for individual validation attributes.  The class-level [validate](https://github.com/tannerlinsley/react-form/blob/master/src/form.js#L172) method and its recursive utils could keep track of pr

[2017-01-13 17:14] tannerlinsley commented on #25
Interesting idea indeed.  I'm intrigued by the idea of returning a promise for a validation message instead of the whole object.  That would allow exactly what you're imagining: mixed validation timing.

It might be simple enough to maintain a promise queue that maps to validation fields as they come in. As those promises resolve, update the view, and also replace them with new ones if the field i

[2017-01-13 17:27] derekperkins commented on #25
Would that affect performance in large forms?

[2017-01-13 17:34] marshallswain commented on #25
I doubt it would feel much different using promises, but it more than likely wouldn't be a breaking change.  It can be written so that using the current API doesn't run any of the code for Promises.

I'll see if I have more feedback after I try to implement the example I posted.

[2017-01-15 01:30] sabatsu opened #27 "warning for React.PropTypes validation"
I get this warning using it...
Warning: You are manually calling a React.PropTypes validation function for the `formAPI` prop on `Form`. This is deprecated and will not work in production with the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.

Does someone can help me with that?

[2017-01-15 01:32] tannerlinsley commented on #27
Are you calling the prop type validation yourself?
On Sat, Jan 14, 2017 at 6:30 PM sabatsu <notifications@github.com> wrote:

[2017-01-17 18:19] marshallswain opened #28 "Promise support for onSubmit"
I've put some more thought into async support and have identified another area where it would be very useful.  It would be nice to have Promise support built into form.js, here: https://github.com/tannerlinsley/react-form/blob/master/src/form.js#L137

So, `onSubmit` could accept a function that returns a promise.  We could create two lifecycle methods for handling the promise.
 - `onSubmitSuccess`

[2017-01-18 17:36] tannerlinsley commented on #27
Closing for now.  If you have more questions, let's continue the discussion in the closed issue.

[2017-01-18 17:36] #27 closed

[2017-01-18 17:37] tannerlinsley commented on #28
This is super interesting.  I'll start looking into the possibilities in the code and keep you up to date here.

[2017-01-19 12:26] amelierosser opened #29 "Call validate manually"
Hi,

I need the ability to call validate manually. Validation happens both locally and server side. If the server responds with errors I need to show them.

Does the api expose a way to call validate?

[2017-01-19 17:07] tannerlinsley commented on #29
Currently, no.  This would be a great addition though, along with some other promise support being discussed in #28.  I'll get to work :)

[2017-01-20 10:19] sabatsu commented on #27
No i am not.

[2017-01-25 13:40] vladra opened #30 "Bug with react-form@1.0.0-beta1"
I've tried to update react-form plugin to beta1, but after update, I'm receiving this error:

[code]

Which tracks to this line in React:
[code]

Have you successfully used plugin with React 15.4.2?
Any ideas how to solve this?

UPD:

Last working  version for me is 0.11.1
It seems somewhere in this commit?

https://github.com/tannerlinsley/react-form/commit/cdd4bbda51637a5821edf42ddacf62c2aae5e38

[2017-01-25 14:15] vladra commented on #30
Ah, I've just missed that API is changed and it should be used different way...

[2017-01-25 14:15] #30 closed

[2017-01-28 18:31] timothyallan commented on #30
Ahh, what changed? I'm getting the same error, might be nice to put a solution for others who come here.

[2017-01-28 18:33] tannerlinsley commented on #30
What error are you seeing?
On Sat, Jan 28, 2017 at 11:31 AM Tim <notifications@github.com> wrote:

[2017-01-28 18:37] timothyallan commented on #30
The same one in the OP:
```Warning: Something is calling a React component directly. Use a factory or JSX instead. See: https://fb.me/react-legacyfactory```
```Dynamic page loading failed TypeError: Cannot read property '__reactAutoBindPairs' of undefined```

Dying on ```export default Form({ validate: validateMethods })(RegisterForm);```

which was working great previously.

[2017-01-28 18:52] tannerlinsley commented on #30
The new `Form` export is now a react component instead of a factory.  Use it like so:
[code]

[2017-01-28 21:45] timothyallan commented on #30
Okay cool, thanks. I was only able to get it going by exporting a function like this:

[code]

[2017-01-28 22:08] tannerlinsley commented on #30
Right.  That's intended.  So basically, you could make your own factory like the old one by doing something like:
[code]

[2017-01-29 05:33] timothyallan commented on #30
Hrmm, it's late and I'm overlooking something trying to get a Factory going based of that example.
I keep getting `expected a string (for built-in components) or a class/function (for composite components) but got: object.`. I've tried wrapping the FormFactory export in a function, and while I don't get an error that way, I also don't get any Form content.

FormFactory.js
[code]

RegisterForm.js
[

[2017-01-29 06:03] tannerlinsley commented on #30
In that scenario, you would have pass <RegisterForm/> instead of
RegisterForm
On Sat, Jan 28, 2017 at 10:33 PM Tim <notifications@github.com> wrote:

[2017-01-29 06:12] timothyallan commented on #30
Yep, that's what I'd thought as well. Doing that still gives `React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.`.

The component that FormFactory gets ends up being
`Object
$$typeof:Symbol(react.element)
_owner:null
_self:null
type:RegisterForm()
....
`

[2017-02-01 14:23] h9h opened #31 "Missing Import RadioGroup in Annotated Example"
Hi Tenner,

the annotated example needs the import RadioGroup together with Radio:
`import { Form, ..., RadioGroup, Radio, ... } from 'react-form'
`

And in the jsx the element needs to be changed from

`<radiogroup ... />` to `<RadioGroup ... />`.

Nice lib! Thanx

Michael

[2017-02-01 15:48] tannerlinsley commented on #31
Thanks for the suggestion!  Could you perhaps submit a PR to have those changes merged?

[2017-02-04 10:13] thg303 opened #33 "Any idea how to reset form state?"
Hi,
I have my form populated with "values", I could clear the form values by resetting the "values" but the touched state and errors are remaining there. any idea how to reset form state completely?

Render component like this:
[code]

The form:
[code]

[2017-02-04 14:21] tannerlinsley commented on #33
I'll add the API for this

[2017-02-05 10:12] thg303 commented on #33
Thanks. My current work around is to wrap the component in a flag variable and toggle it using `setState` method

[2017-02-07 23:35] tizzle commented on #33
Hey,

i just wanted to share how i worked this out.

I always pass a defaultValues object to the form to control initial state. This object is present in the postSubmit lifecycle function of react-form. I then do something like this to clear the whole form after a submit:

[code]

This iterates over all keys in defaultValues and sets the values object to what it finds, resetting the form to it's i

[2017-02-16 22:07] jsonmaur opened #38 "Question about dependencies"
Hello good sir. Great library ;) I'm curious as to why `react` and `react-dom` are in the dependencies list? Also, why the other dependencies (except `classnames`)? I'm assuming you forgot to add them as dev since they're not used in the source anywhere.

[2017-02-16 22:21] #38 closed

[2017-02-16 22:22] tannerlinsley commented on #33
I'm still working on this, and it's coming soon :)

[2017-02-17 12:30] sabatsu commented on #27
Hey @tannerlinsley ...
could you please help me with that?
I am getting this warning -
Warning: You are manually calling a React.PropTypes validation function for the `zoom` prop on `ReactCropper`. This is deprecated and will not work in production with the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes

[2017-02-17 15:33] tannerlinsley commented on #27
Hi @sabatsu.  React-form doesn't utilize any prop-types anywhere in it's source code, and it's dependencies are also free of its usage as well.  I can't be sure, but it sounds like you are using a component that does.  https://facebook.github.io/react/warnings/dont-call-proptypes.html for more information.

If you could please reproduce the problem in [this webpack-bin](http://www.webpackbin.com/V

[2017-02-17 17:45] timothyallan commented on #33
Nice work Tanner, I just got the latest version and it seems to work great on initial tests :)
Reset buttons everywhere!

[2017-02-17 18:15] tannerlinsley commented on #33
Awesome!  Close when you're satisfied :)

[2017-02-17 18:18] timothyallan commented on #33
That's a job for @thg303 :)

[2017-02-17 19:29] tannerlinsley commented on #33
Going out on a limb.... :)

[2017-02-17 19:29] #33 closed

[2017-02-26 04:07] Nozibulla opened #40 "Is there any possibility to give drag and drop in near future?"
Drag and drop option for bundle fields.

[2017-02-26 13:22] vutran47 opened #41 "ResetForm not clear value of Textarea"
I found a bug in the resetForm() method that does not reset Textarea value, apparently due to a missing  empty string in the component getValue() method

[code]

[2017-02-27 07:56] TimMikeladze opened #42 "Manually submit form outside of <Form> component"
It would be useful to call the submit and validate methods of a form while in a different component outside of the <Form> parent. Consider the scenario when you want to have your submit form button reside in a different component hierarchy then the form.

Maybe it's already possible to do this?

Please let me know what you think, thanks.

[2017-02-27 16:58] tannerlinsley commented on #42
The easiest way to do this is to use a ref:
[code]

Does that work for you?

[2017-02-27 16:59] tannerlinsley commented on #41
Looks like a bug.  Want to test that fix and submit a PR?

[2017-02-28 06:34] vutran47 commented on #28
At this state, `postSubmit` is also pretty useless since it will be called anyway without the results. My current workaround is to call `resetForm` manually since it's the 4th argument passed to `submit`. This is very much an implementation detail and should not be used this way.

[code]

[2017-03-15 19:21] chuan137 opened #46 "unexpected value from getValue() in custom input example"
Hello,

Here is my code, `<TextField/>` is from material ui. The problem is that, the input field shows the field name as default value. The behaviour of getValue(field, '') is not expected. I use `getValue() || ''` as a work around, which works fine.

but it would be nice to find out why the behaviour, thanks.

[code]

[2017-03-21 21:25] chuan137 commented on #28
I smell feathers here :)

[2017-03-21 21:27] tannerlinsley commented on #28
Feathers?  Wha do you mean?

On Tue, Mar 21, 2017 at 3:25 PM Chuan Miao <notifications@github.com> wrote:

[2017-03-21 21:39] chuan137 commented on #28
It is a light joke, I deleted it, because feathersjs is not so popular that everyone will get it :) But this is the background

This proposal will make `preSubmit`, `onSubmit` and `postSubmit` functions like the hooks in feathersjs, each of them will return a promise and they would await the async action of the previous hook.

And I think @marshallswain  is one of the authors of feathersjs.

[2017-03-21 23:40] marshallswain commented on #28
Yep.  @chuan137's got me.  Inspired by [Feathers](http://feathersjs.com/).

[2017-03-22 06:48] hnq90 opened #49 "Should we have setValues method?"
If we want to set value to multiple fields at once, we have to use `setValues`.

Example:
[code]

Use `setAllValues` will set/replace all form values but it makes other attributes which are not in `setAllValues` arguments is undefined.

We can create an object which merges values from form's value with new values as:
[code]

IMHO, it's better to have a new method `setValues` or `setMultipleValues`

[2017-03-22 12:10] zhanshuyou opened #50 "select.js line41 should be value = {option.value}; not value = {i}"

[2017-03-22 12:37] SeeThruHead commented on #50
value is an index into the resolvedoptions array, not an actual value. If you look at onChange you'll see that we setValue resolvedOptions[thatIndex] to set the actual form state.

Closing for now, please re-open if I misunderstood you.

[2017-03-22 12:37] #50 closed

[2017-03-22 12:39] SeeThruHead commented on #40
Drag and drop is fairly easy to implement with react-dnd and `swapValues` currently. Do you think we should supply a recipe for this?

[2017-03-22 12:53] SeeThruHead commented on #49
Please correct me if I'm wrong but if you always have `values` passed down when you get `setAllValues` can this not be implemented 100% in userland? ie by wrapping setValues

[2017-03-22 14:17] zhanshuyou commented on #50
Thx

[2017-03-22 14:24] #31 closed

[2017-03-22 15:03] tannerlinsley commented on #49
Just call serAllValues using the spread operator with the existing values
followed by any new values.
On Wed, Mar 22, 2017 at 6:53 AM Shane Keulen <notifications@github.com>
wrote:

[2017-03-23 08:08] hnq90 commented on #49
Thanks, that's which I used.

[2017-03-23 08:08] #49 closed

[2017-03-23 15:06] jLouzado opened #52 "help: calling method from `onSubmit` prop"
I'm trying to create a form that clears all fields after successful running of onSubmit() but I can't figure it out.

For now I'm simulating a click on the 'Reset' button.

[code]

[2017-03-23 15:09] SeeThruHead commented on #52
[code]
any reason this would not work?

[2017-03-23 15:20] jLouzado commented on #52
@SeeThruHead it would, but I was trying to do it conditionally only on successful submit.

[2017-03-23 15:24] SeeThruHead commented on #52
yes i get what you're saying now.
what you want is to call resetForm() from inside postSubmit

or have submit return a promise so you can then on it
(future api considerations)

there might be a way to do this with the current api, @tannerlinsley would know.

[2017-03-23 15:33] tannerlinsley commented on #52
@jLouzado It depends on what you define as "successful".  If `onSubmit` is called, it means the form passed validation and what submitted.  So clearing the form in `onSubmit` or `postSubmit` would work if all you need to know is that validation passed and the submit button was pushed.

I am assuming however, that you are sending your form data to a server or service for processing, and upon receiv

[2017-03-23 19:55] jLouzado commented on #52
@tannerlinsley Yes you're right! Basically I was inserting the `values` document into a collection and was waiting on the response callback to clear the form if insertion was successful.

I'll try this out and get back to you. In the meantime should I create a PR to update the documentation? This seems like it's a core use-case.

@SeeThruHead thank you for your help as well. :smiley:

[2017-03-23 20:07] tannerlinsley commented on #52
Yeah, we’d love a PR for some docs!

On Thu, Mar 23, 2017 at 1:55 PM Joel Louzado <notifications@github.com>
wrote:

[2017-03-25 01:26] TimMikeladze commented on #42
Thank you for the response!

[2017-03-25 01:27] #42 closed

[2017-03-27 05:56] Nozibulla commented on #40
Yes please! that would be a great help.

[2017-04-13 06:14] thchia opened #54 "React.createClass and React.PropTypes are deprecated"
In React 15.5.0, createClass and PropTypes are deprecated.

https://github.com/facebook/react/blob/master/CHANGELOG.md#1550-april-7-2017

PropTypes should now come from
https://www.npmjs.com/package/prop-types

[2017-04-17 19:16] joshuamanns opened #56 "Checkbox component does not handle getValue properly"
I'm unable to create a controlled checkbox using any approach....
Setting the `checked` property does nothing.
Setting the `value` property does nothing.
Setting `defaultChecked` conflicts with controlled/uncontrolled react requirements.

The only solution I've found is modifying the source so that line 47: `checked: getValue(false),` is changed to `checked: getValue(),` and managing the Checkbox'

[2017-04-19 02:27] joshuamanns commented on #56
@tannerlinsley I'm getting mixed results here. If I double click the checkbox it will sometimes toggle, but otherwise it does not function... Could you please advise on why this is not behaving as expected? Are there known compatibility issues with other libraries/dependencies? It appears to only happen within the context of my project, even when copy/pasting your storybook code verbatim.

[2017-04-19 02:28] tannerlinsley commented on #56
I will take a look at this tomorrow morning as I run through issues :)

[2017-04-20 14:55] AverageZ opened #58 "Form Api - `addValue` not working as expected"
Version: `"react-form": "^1.2.6"`

### Overview

I've been referencing the annotated example as I build a form that contains a nested form. The nested form is a list of items called `phonenumbers` (like 'friends' in the example). Outside of the nested form is an element that uses the `addValue` method from the library. The goal is to use the add button to add a new item to the list which will then

[2017-04-21 07:13] developer-lindner opened #59 "Typescript Support"
Is there a plan for adding Typescript Support?

[2017-04-21 08:25] jLouzado commented on #52
Finally got a chance to implement this in my project... was busy with other features till now.

I get that this example works with Promises, but does it work with normal callback functions as well? My guess is not, correct? @tannerlinsley @SeeThruHead

[2017-04-24 07:36] joshuamanns commented on #56
@tannerlinsley After some cursory glances, it looks like your library might take issue with Fastclick's synthetic events. It's strange, because this shouldn't be an issue on Desktop where I'm experiencing the problem. Do you have any insight here?

[2017-04-24 15:50] tannerlinsley commented on #59
Not from any core developers at this point.  If anyone would like to submit typings for react-form, just let us know and submit a PR! :)

[2017-04-24 15:54] tannerlinsley commented on #58
We'll probably need to see more code to know what is happening.  If you're not comfortable posting that much code here, you could also post to the [slack org](https://react-chat-signup.herokuapp.com/)'s #react-form channel

[2017-04-25 06:56] dpiccone opened #60 "Possible bug when used with react-redux"
When exporting a `FormField` decorated with `connect()`, somehow the form api breaks and the field does not re-render with the new values.

I believe this happens whatever higher order component is used to decorate the form, as long as this is using `connect()`.

I have uploaded a sample app showing the bug here https://github.com/dpiccone/react-form-redux-bug

[2017-04-28 18:01] abhimanyu1289 commented on #54
Looks like this is part of v1.2.6.
But I am still getting warnings for createClass and PropTypes.

[2017-04-29 05:03] thchia commented on #54
I believe 1.2.6 is still using createClass and React.propTypes. It's been mentioned that the next version will handle the deprecations.

[2017-05-01 16:14] danielo515 commented on #54
1.2.6 is indeed using prototypes . Please release 1.2.7 so we can get rid of this messages

[2017-05-01 18:53] danielo515 opened #61 "How to set the Select default value"
Hello,

I want to know how to set the default selected value of one `Select` component. There is no mention on the docs.

Thanks

[2017-05-05 14:39] z-vr commented on #42
Thanks, wouldn't know what to do otherwise. @tannerlinsley I think it would be worth adding to the documentation.

[2017-05-05 15:33] tannerlinsley commented on #42
Yeah I plan on it
On Fri, May 5, 2017 at 8:39 AM Anton <notifications@github.com> wrote:

[2017-05-09 13:19] DjLeChuck commented on #41
The fix works. I use it in my project. :)

[2017-05-09 18:32] timothyallan opened #65 "resetForm() = this.getInitialState is not a function"
Hiya, I'm using React 15.5.4 and React Form 1.2.7, and using resetForm() is now giving me `this.getInitialState is not a function` errors?
Happens in this area here:
[code]

[2017-05-10 10:51] DjLeChuck commented on #65
You're right. It's caused by this commit: https://github.com/tannerlinsley/react-form/commit/9035b82234b862d96ee4c6550bcba9982e5ef907#diff-62acef2590804164cb77b4b5aced00ebL38

[2017-05-10 10:54] DjLeChuck opened #66 "silent reset"
Hi,

Is it possible to add an option to `resetForm` to perform a silent reset?
Actually, when the form is reset, the form is validated and errors pop-out.

[2017-05-11 00:19] thomas-p-wilson commented on #28
As a feathers user, I am most definitely in favour!

[2017-05-12 00:30] thomas-p-wilson opened #67 "Select options should have explicit value attribute"
Given the following options:

[code]

The resulting Select would look something like:

[code]

Whereas the expected and proper result looks like:

[code]

It's a very minimal alteration for which I already have a branch, and will PR momentarily.

[2017-05-13 19:26] dns2316 opened #70 "How to add class in your components?"
Example, I want add bootstrap class to Textarea

                    <Textarea
                      id="body-form"
                      field='body'
                      placeholder='bodyForm'
                     />

was id added, but how to add class?

P.S: and how to set url database, and how to POST, Update, Delete from DB?

[2017-05-16 15:50] oxpa opened #71 "validation causes bad user experience"
Hello.

In your demo: https://react-form.js.org/?selectedKind=2.%20Demos&selectedStory=Kitchen%20Sink&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel if an input changes it's state from 'valid' to 'invalid' a user action is prevented.

1 click 'Email' radio button - it will be set up
2 click to 'City' input
3 click 'Text' radio button - an error for C

[2017-05-17 13:58] dpiccone commented on #60
It turns out the problem is solved by passing `{ pure: false }` as an option to `connect()` since redux assumes a component to receive updates either from `props` or from the store.

Alternatively you could use something like this, by connecting the component that receives the `formAPI` inside the `FormField`

[code]

Or alternatively:

[code]

Is there any reason `FormField` is not provided as an

[2017-05-18 19:25] mybks commented on #2
Hi @tannerlinsley, great package, but also thinking about the clients who uses IE, is it still an issue?

[2017-05-18 21:54] chungnho commented on #29
I did a workaround where in `componentWillReceiveProps`, for each field that had a serverside error, it does `this.props.setValue(field, this.props.getValue(field))` which would trigger the `validate`.

[2017-05-18 22:51] timothyallan commented on #65
This looks like it's been fixed with #69 . Just waiting on a push to NPM with the update!

[2017-05-19 18:26] byumark opened #72 "Placeholder does not seem to work on Select field"
`placeholder='Pick one...'` does not change the default "Select One..."

[2017-05-22 18:14] byumark opened #73 "Exporting buildHandler function"
Does the util.js module in `src/formInputs` need to be exported in `src/index.js` to work with Custom Form Inputs? It has a `buildHandler` function that a Custom Form Input seems to need.

[2017-05-22 18:40] byumark commented on #73
I accomplished this with `import { buildHandler } from 'react-form/lib/formInputs/util'`. I'm not sure if this is really an issue.

[2017-05-22 18:40] #73 closed

[2017-05-23 19:52] Bartozzz opened #74 "Default input value disappears on setValue(getValue())"
This might be just an _edge-case_, not really an issue with the `react-form` itself. I still prefer to report this as I am not sure how can I solve it.

It seems like values provided by `<Form values={} />` are not available through `getValue()` in `FormInput` on the "first run".

The input value is set to `undefined` when I am trying to `setValue( getValue() )` in the `onBlur` callback without ch

[2017-05-23 20:06] Bartozzz commented on #74
I am trying to debug this with _React Devtools_ and I've found something strange.

Even if every input has a default value (which are by the way **displayed** correctly, see picture), only the first one has a `value` attribute in the component. When I click on another `HourInput`, a `value` property appears for the input I clicked on but dissapears on all others:

<img width="50" alt="zrzut ekranu

[2017-05-25 14:01] tannerlinsley commented on #65
Pushed 1.2.8

[2017-05-25 14:01] #65 closed

[2017-05-26 16:09] neomusic opened #75 "Multiple validation on field"
I tried to apply multiple validation on field like this

[code]

But it does not work. Can anyone help me? Thank you

[2017-05-30 10:27] LikeYakult opened #76 "Returns the undefined question under this.props.form.getFieldsValue ()"
### 1. Version：
antd , 2.10.2
### 2. Environment：
Chrome 58 , window 10
### 3.What did you do?
Use this.props.form.getFieldsValue () to take the value in the form
### 4.The code is as follows:
[code]
### 5.The result you expect is:
Use this.props.form.getFieldsValue () to take the value in the form
### 6.The actual result is:
![qq 20170530182002](https://cloud.githubusercontent.com/assets/22496926

[2017-05-30 12:45] ummahusla commented on #76
I assume you copy and pasted incorrectly `lass Demo extends Component{`

[2017-05-30 14:48] tannerlinsley commented on #76
I'm not familiar with the `getFieldsValue` method.  This is not a part of the current api.

[2017-05-30 14:49] tannerlinsley commented on #76
From the look of it, I believe you are referring to the wrong react form library :( Closing for now

[2017-05-30 14:49] #76 closed

[2017-05-30 14:50] tannerlinsley commented on #40
If anyone would like to produce a recipe or example for how to do this, I will gladly post it to the wiki. Closing this issue for now.

[2017-05-30 14:50] #40 closed

[2017-05-31 17:49] LikeYakult commented on #76
@ummahusla Oh, yes, thanks for it

[2017-05-31 17:56] LikeYakult commented on #76
@tannerlinsley Yes, I am learning based on the old version of the api, the old version of the tutorial to get the value of the form, I use the latest version to write but get to the undefined, which makes me very confused

[2017-06-08 19:13] nickjohnson-dev commented on #71
When trying to recreate this issue in the Storybook, I noticed that though the value indeed does not change on the radio button when first clicking outside the City input, this is merely due to the reflow of the page.

From what I can tell, because the reflow happens before your click event gets down to the radio button node, your click ends up clicking empty space on the page.

To prevent this fr

[2017-06-09 09:46] nerdstep opened #77 "Error classes"
Any thoughts on an option to override the default error class name? It would also be nice to be able to provide a custom class name to FormError. I'm using custom inputs to achieve this now, but it seems like a lot of extra ceremony.

[2017-06-11 17:51] z-vr opened #78 "Updating default values"
If a form has not been changed and all values stayed default, then `deafultValues` of the form has changed -- shall the values in the form be updated to new defaults? If I do `resetForm`, all values will be reset to default, whereas I only want fields containing previous defaults to be updated to new ones.

Thanks.

[2017-06-13 12:49] vladra commented on #78
I've noticed same bug today also.

It seems it was introduced recently, cause I think reset form was working fine for me some time ago.

Basically when user updates form values, `defaultValues` property of the form updated also. This breaks `resetForm` function, being unable to set initial form values

[2017-06-16 17:10] z-vr commented on #78
@vladra this is not I meant. I want to update `deafultValues` in render() and see new defaults in those fields which have not been touched.

[2017-06-18 02:34] jamesone opened #79 "Is it possible to make the resetForm NOT refresh the page?"
Instead can we make it just clear the form values without a page refresh?

[2017-06-19 19:27] bruceharris commented on #56
@joshuamanns @tannerlinsley I'm experiencing similar trouble; any update on this issue? thanks

[2017-06-20 18:01] atwright147 commented on #72
The `placeholder` attribute doesn't work on `<select>` elements.

[2017-06-23 17:19] mgutz commented on #78
I made a fix in our fork

https://github.com/matcherino/react-form/blob/update-default-values/src/form.js#L75

Need to test it more before submitting a P

[2017-06-26 21:28] chungnho commented on #75
@neomusic In your example you're missing the starting brace around `{(password})`. Otherwise it looks correct. What isn't working?

The validate function will just be whatever you return in the Object. So figure out what `!password ? 'Il campo è obbligatorio' : (password.length < 8 ? 'la password deve contenere almeno 8 caratteri' : undefined)` evaluates to (and what `password` is being given to t

[2017-06-29 13:04] mintyPT commented on #46
Same issue here. Did you found your problem?

[2017-07-05 20:19] jandramila opened #81 "getInitialState on ES6 Components"
So, I'm currently using [warning](https://github.com/BerkeleyTrue/warning) and whenever i mount React Form i get this message:

![Logged Warning](https://user-images.githubusercontent.com/10802091/27883101-b83413e2-61a5-11e7-8ae8-7d1cb4a29905.png)

Are you guys aware of this? Apparently this library warns about getInitialState being used in a JS class, so we should set this.state on the constructo

[2017-07-05 20:20] tannerlinsley commented on #81
I would love a PR to clean this up.  Technically the state should now be defined in the `constructor` as far as I'm aware.

[2017-07-06 16:50] jandramila commented on #81
No problem at all, i'll put my hands on it by this weekend.

[2017-07-06 17:35] keiranmraine opened #82 "Question: can style of field validation be set?"
Hi,

Is it possible to set the text colour for the field validation 'help' text?

E.g.  I'd like to set the text colour following the field to red:

<img width="253" alt="screen shot 2017-07-06 at 18 34 38" src="https://user-images.githubusercontent.com/3740323/27924640-e1393982-6279-11e7-90ef-6410546bafb1.png">

Thanks

[2017-07-07 14:58] tannerlinsley commented on #81
Hey, I'm working on this right now, so take a rain check on this for now ;)

[2017-07-07 17:15] #77 closed

[2017-07-07 17:15] #82 closed

[2017-07-07 17:17] tannerlinsley commented on #82
Use the `errorProps` prop on any form input to forward props to the underlying FormError component. Ex:
[code]

[2017-07-07 17:17] tannerlinsley commented on #77
Use the `errorProps` prop on any form input to forward props to the underlying FormError component. Ex:
[code]

[2017-07-07 17:18] tannerlinsley commented on #81
Fixed in next release

[2017-07-07 17:18] #81 closed

[2017-07-07 17:21] tannerlinsley commented on #79
The page does not refresh when you reset a form with `instance.resetForm()`.  If you are experience this problem it likely has to do with the way you are calling that method. Make sure you are using `event.preventDefault()` on form events, else it will reload the page as it would in a standard HTML5 environemtn

[2017-07-07 17:21] #79 closed

[2017-07-07 17:26] tannerlinsley commented on #78
Should be fixed in latest version

[2017-07-07 17:26] #78 closed

[2017-07-07 17:27] #75 closed

[2017-07-07 17:28] #72 closed

[2017-07-07 17:30] #71 closed

[2017-07-07 17:30] tannerlinsley commented on #71
This is indeed caused by reflow. Closing :)

[2017-07-07 17:31] tannerlinsley commented on #70
- Use the `className` prop to set a class on the TextArea.
- React-Form is not responsible for communicating with API's or databases on its own. You could join the slack channel and ask for help though :)

[2017-07-07 17:31] #70 closed

[2017-07-07 17:33] tannerlinsley commented on #67
This will break support for complex values like objects and non-primitives.

[2017-07-07 17:33] #67 closed

[2017-07-07 17:42] #66 closed

[2017-07-07 17:47] tannerlinsley commented on #61
This is done by providing an option in your options array that matches the inputs key from your `defaultValues` prop:
[code]

Notice how `person: 'bob'` in defaultValues will match up to the option with `value: 'bob'` :)

[2017-07-07 17:47] #61 closed

[2017-07-07 17:48] tannerlinsley commented on #60
It was previously. Technically you could easily create your own HOC that utilizes the current form component implementation under the hood. :)

[2017-07-07 17:48] #60 closed

[2017-07-07 17:48] #59 closed

[2017-07-07 17:52] joepuzzo opened #83 "Error before being true is causing -hasError to NOT be applied"
In file [https://github.com/tannerlinsley/react-form/blob/master/src/formInput.js](url)

[code]

[2017-07-07 18:04] tannerlinsley commented on #56
I've added fast click to the documentation and it seems to be working just fine :)

[2017-07-07 18:04] #56 closed

[2017-07-07 18:05] #54 closed

[2017-07-07 18:05] #52 closed

[2017-07-07 18:07] tannerlinsley commented on #46
Remember, when `getValue` is used inside a `FormInput` or anywhere that a `field` prop is passed, it is automatically bound to that field.  So you would simply call `getValue(defaultValue)` instead of `getValue(field, defaultValue)`.

[2017-07-07 18:07] #46 closed

[2017-07-07 18:10] #41 closed

[2017-07-07 18:11] tannerlinsley commented on #29
Going to track this with #28

[2017-07-07 18:11] #29 closed

[2017-07-07 18:13] nerdstep commented on #77
Ah, excellent! Sorry, missed that one in the docs!

[2017-07-07 18:13] #83 closed

[2017-07-07 18:38] thomas-p-wilson commented on #67
So make it optional then?

[2017-07-10 16:27] timothyallan opened #84 "1.3.0 Rerender causes form to lose values"
Hey there. 1.2.8 works great, 1.3.0 breaks all my dynamic forms. SAD.

I’ve got a bunch of user text input fields, one which causes an API call to a server to get some data. When that data comes back, an isLoading boolean is changed. Because of that, the page containing the form is re-rendered (which I can see via console.log in the render function).

The text inputs are custom `FormInput` compone

[2017-07-12 03:19] joepuzzo opened #85 "Dirty is not actually being exposed on the API"
Could have something to do with the setValue function in `form.js`. But i'm noticing that as i type, the touched value is not getting updated until I tab out of a field.

[2017-07-12 12:28] joepuzzo commented on #85
Ok maybe my understanding of touched was incorrect. Is there any way to detect when a field is dirty? i.e has been entered/interacted with?

[2017-07-12 12:48] joepuzzo commented on #85
Looks like dirty is not getting exposed on the "api".

[2017-07-19 19:22] #85 closed

[2017-07-19 19:23] tannerlinsley commented on #85
I believe you were looking for `getTouched`?

[2017-07-19 19:40] joepuzzo opened #88 "nestedForms values get deleted when nested form is in error state."
This occurs in your example located https://react-form.js.org/#/story/kitchen-sink as well.

To recreate.
1. Fill out the address field
2. Delete the content from one of the fields
3. All the values will disappear

[2017-07-19 20:15] tannerlinsley commented on #88
I'm assuming you mean I need to have more than the address field filled out to "Delete the content from one of the fields":
I filled out the `city` field, then filled out the `address` field, then deleted the content out of the `city` field.
I didn't experience this issue.  Are there more precise instructions to replicate the issue?

[2017-07-19 20:18] joepuzzo commented on #88
Fill out all three fields, then delete everything from one of them.

1. Fill out street
2. Fill out city
3. Fill out state
4. Backspace everything from city

[2017-07-19 20:19] tannerlinsley commented on #88
Good find!  I'll look into this asap

[2017-07-20 08:16] Temoto-kun commented on #84
Can confirm this bug. Also happens on mine when I try to disable the form on submit (because it re-renders the view). I lose all the values of the form, but when I tried downgrading to 1.2.8 it somehow retains the values in the view, but then the values aren't included in ordinary form requests. Had to manually re-submit the form on `submitForm()`.

[2017-07-20 15:14] joepuzzo opened #90 "showErrors not being passed in nestedForm"
[code]

[2017-07-20 17:04] joepuzzo commented on #88
This has something to do with setNestedError in the NestedForm. I removed that line locally and it no longer clears it. Not sure why setNestedError would be causing this.

[2017-07-20 17:06] joepuzzo commented on #88
Hmm could have something do do with setNestedError causing a re-render.

[2017-07-21 08:56] houkanshan opened #91 "1.3.0 Got warning "changing a controlled input of type checkbox to be uncontrolled", and failed in `setAllValues` on dict field."
Hi, I just upgraded to 1.3.0 from 1.2.8, but there's something broken. I have a webpackbin for this:

https://www.webpackbin.com/bins/-KpZ8CHU6WKnV0wQsqZw

In case that page would be outdated, here is the test code and test steps:

[code]

So the problem with is:

First I got a waring from React after I checked a `<Checkbox/>`:

![image](https://user-images.githubusercontent.com/657962/28455834-fb

[2017-07-23 12:00] joepuzzo commented on #88
I figured out the issue!

When you call set nested error it sets the parent forms 'nestedFormFields' field to undefined. Then, because getValue is called, it sets all of the values in the form to undefined. Removing this is the easy fix but it may break other users who use this functionality to set the defaultValues. Any ideas on how we could fix this with ought breaking that functionality?
[code]

[2017-08-02 10:39] EvelineV opened #92 "Typo in example"
There's a typo in this example:
[code]
Please change "values" to "value", I was using your example but was not able to change the dropdown because of the "s".

[2017-08-03 10:12] GoldenRust opened #93 "Question: Accessing form data outside of form?"
Hi,

Is there a way to access the form data outside of the form?

The docs mention using an external state manager, this project is using redux, but I'd like to keep this form data in the component, not in redux.

So far I've set something up that looks like this:

[code]

I'm not sure if there's a better way to do this.

Thanks.

[2017-08-03 21:10] #74 closed

[2017-08-04 21:32] rowdyroad commented on #88
I've spent about a day to figure it out.
I think, problem is in **errors** variable. If it equals {} so nestederrors is true.

My fix here, I can make PR

`return React.cloneElement(children, {
          ...rest,
          /* Let the parent form set defaultValues */
          values: getValue(), <<<<<<<< THIS RIGHT HERE ( remove and problem solved )
          /* Respond to the parent form's dirty

[2017-08-07 12:51] rowdyroad opened #96 "nestedform objects change defaultValues object"
Now, if we have some related object or collection, it will be copy (by extend) to defaultValues by reference. So, when we update nestedform,  defaultValues updates too.

Need to make a deep copy.

PR is coming.

[2017-08-10 15:46] JLGouwy opened #98 "Nested FomInput : Clone Element"
Hello Guys,

I would like to fix a problem.
For information, this is my current error :

This is what i'm trying to do :
[code]
this is CustomInput Component :
[code]

React.cloneElement(children, { setValueForm: setValue }) seems to return an object.
But if i just render React.cloneElement, the rendering is ok.
So, i suppose the problem come from the function of FormInput.

What do i make wrong ?

[2017-08-11 15:59] JLGouwy commented on #98
ok wrong import :
import FormInput from 'react-form';
instead
import { FormInput } from 'react-form';

feel so stupid ... Sorry

[2017-08-11 15:59] #98 closed

[2017-08-14 06:22] kenttan0214 opened #99 "Failed Context Types: Calling PropTypes validators directly is not supported by the `prop-types` package. Use `PropTypes.checkPropTypes()` to call them."
I implement react form version 1.3.0 into my react project version 0.14.6. When I open my console I always see all these warning message. How can I remove all these warning message?

[code]

[2017-08-14 09:51] SBoudrias opened #100 "getError always return an error even if touched is true"
Right now, `getError` always return an error message if the field is invalid, even if it isn't marked a touched yet. I think this is fine, but it makes writing code using error strings a bit complicated.

I'm wondering if you'd be open to add a `getTouchedError` function API that would only return an error message if a field was actually touched?

[2017-08-15 12:35] maxttor opened #101 "Checkbox - conflicts with controlled/uncontrolled react requirements."
I'm use a code from example:
[code]

And get a warning:

[2017-08-17 13:42] thg303 opened #103 ""Select" does not allow multiple choices"
"Select" component does not allow multiple selections.

[2017-08-20 12:37] thg303 commented on #30
is there any migration guide for this???

[2017-08-20 13:27] thg303 commented on #30
### migration guide
old versions:
[code]
should become like:
[code]

[2017-08-22 10:45] thg303 commented on #3
I tried that idea, and here is what happens:
1. Validate runs and passes initially.
2. Submit sends data to the API.
3. The form takes new props, but nothing changes the view, because `validate` does not run on `componentWillReceiveProps` and that's reasonable.

I think we need to add "errors" to the Form API, and make it gets merged by the form's `errors`.

[2017-08-22 13:34] khotey opened #106 "How to throw errors after submitting form ?"
Is there a way to throw errors after submitting form ? If client validation passed and request sent to the server but server return errors validation, how throw errors to form to show in it ?

For example, like in [redux-form](http://redux-form.com/7.0.3/examples/submitValidation/):

[code]

[2017-08-22 17:45] thg303 commented on #106
looks like a duplicate of #3 , you may set `refs` on your form and set the `errors` in it's state. something like this:
[code]

[2017-08-23 05:55] thg303 commented on #93
@GoldenRust you may set `ref` on the form, and access it's `state` object. that allows you to access everything

[2017-08-24 13:56] Gaffen commented on #101
I can confirm that I'm getting this behaviour too

[2017-08-25 11:08] mihaiblaga89 commented on #61
Setting the default value prohibits the select change.

`defaultValues={{
	inUS: 0
}}`

`
<Select
	onChange={(e, onChange) => {
		const { value } = e.target;
		self.setState({ residingInUS: value === '1' ? true : false });
		onChange();
	}}
	field="inUS"
	options={[{
		key: 1,
		label: 'Yes',
		value: true
	}, {
		key: 2,
		label: 'No',
		value: false
	}]}
/>`

The onChange is triggered with the c

[2017-08-25 14:17] thg303 commented on #101
it's a duplicate of #91

[2017-08-30 13:48] joepuzzo opened #107 "ReactForm is super slow in IE -- even new versions"
Open IE, go to  [react-form-demo]([https://react-form.js.org/#/story/readme-documentation](url))  and open the kitchen sink example. Attempt to type in one of the input fields. You will see your text show up with lots of lag.

[2017-09-02 18:34] maxmatthews opened #108 "Access to event object in onSubmit"
I'm trying to access data stored in `event` in the onSubmit prop. Specifically I want to check `event.shiftKey`, but with the current parameters, I can only access values, state, and props. Is there a way I can get into that data?

I'm trying to accomplish something like this:
[code]

[2017-09-04 14:33] mintyPT opened #109 "preventDefault on enter"
I searched and found nothing. How can I prevent the form from submitting when enter is pressed inside an input=

[2017-09-04 14:43] mintyPT commented on #109
This was a noob question. I solved my problem, you can close this. Thanks!

[2017-09-04 21:01] #109 closed

[2017-09-06 02:48] joepuzzo commented on #107
I have created a new form library with a very similar API that works in IE. https://www.npmjs.com/package/react-savage-form

[2017-09-06 02:50] joepuzzo commented on #88
I have rewritten this form library and solved many of the issues including this one. See npm: https://www.npmjs.com/package/react-savage-form and docs are located here https://react-savage-form.cfapps.io/

[2017-09-08 08:35] skchen28 opened #111 "How operate tow selects cascade"
Hi,everyone,I hava a question to ask. I have two selects, we can call one select A,and the other select B.Here comes the situation:select B's value depends on select A.Is there a eaxmple that help me understand how to handle the problem?

[2017-09-08 10:35] mnieber opened #112 "How to add a hidden form field?"
I would like my form to always include a (static) value. I tried to achieve this using a custom field, but this results in a call stack overflow

[code]

and also simply using an input field, but the value is not submitted

[code]

Any tips on how to achieve this?

[2017-09-08 11:22] thg303 commented on #112
@mnieber I can think of two ways to handle this scenario.
1. if the static value does not need to be validated or affect other fields, add it to the `values` object manually in the **submit** callback.
[code]
2. simply use a `Text` component, initialize it with `values` props for the `Form`, and make it invisible with css.
`<Text field="hiddenFieldName" style={{display: 'none'}} />`

sort of a hac

[2017-09-08 12:23] thg303 commented on #111
it's a little complicated scenario, but it's possible to do with a little effort.
You have to use `setValue` in the form to rewrite `onChange` event handler. something like this:
[code]

[2017-09-11 17:22] amaschas commented on #101
I was looking into this just now, and it seems like the issue is caused by the fact that the value of the checkbox input ends up behind `undefined` unless you set a default value. I'm not sure what the best way to handle this is though.

[2017-09-12 04:20] designbystephen opened #113 "issue with transform-object-assign import"
**Version:** 1.3.0

**Stack:**

**Code:**
The only place I am using it on my component is as an import
`import { Form, Text } from 'react-form';`

I didn't have any luck finding any open issues that point to this. Judging from the documentation this is not a required dependency I need to include in my own babelrc or package.json and it should just work out of the box.

Any help is appreciated.

[2017-09-12 07:33] thg303 commented on #113
@designbystephen it might be an issue with your build system. I think you have to tell it to ignore **node_modules** directory.

[2017-09-12 16:41] designbystephen commented on #113
That was the issue.

Added to my babel-loader rule in webpack:
`exclude: /node_modules/`

Thanks for your help.

[2017-09-12 16:41] #113 closed

[2017-09-13 10:39] cherniavskii opened #114 "Question: Add info about reducing bundle size to docs?"
I'm using webpack for bundling, and I noticed that whole library gets into the bundle, even when I'm using only some parts of it. It looks like it's webpack issue, but e.g. `lodash` provides a solution for that - import like that:
`import assign from 'lodash/assign'`
instead of:
`import { assign } from 'lodash'`

It is also possible to import `react-form` in the same way:
`import Form from 'react-

[2017-09-13 11:10] thg303 commented on #114
excellent. I think it could be added to a separate part like "hints for production build" or something.

[2017-09-13 11:17] cherniavskii commented on #114
Okay, I will submit a PR today or tomorrow ;)

[2017-09-14 13:55] mintyPT opened #116 "Trigger validation"
Before the user as even done something, is it possible to trigger the validation?

[2017-09-14 14:16] thg303 commented on #116
@mintyPT That could be done with setting a **ref** on the `Form` component and call `SetAllTouched(true)` something like this:
[code]

[2017-09-14 14:36] mintyPT commented on #116
I tried. It calls the onChange but not the validation

[2017-09-14 14:37] mintyPT commented on #116
It's a good suggestion. I tried it. Saldy, it calls the onChange but not the vlaidation

[2017-09-16 12:01] mnieber commented on #112
@thg303 Yeah, sorry, a bit too hacky for my taste :-). Ideally, `react-form` would have a `HiddenField`.

[2017-09-19 00:31] amaschas opened #117 "Validate as the user types"
I've tried every variation of setting inputs touched, playing with onChange and noTouch, and I can't figure out how to get a form field to trigger validation as the user interacts with it. Is there a way to do this?

[2017-09-21 09:39] onoufriosm opened #118 "Reverting to default values on rerender"
Scenario:
1. Form rendered with defaultValues.
2. User changes some fields.
3. User does something else (e.g. upload a profile picture) which is **not** part of the of the form (but part of the parent component that both the form and the upload profile picture components live) and causes a rerender of the form.
4. The form reverts back to the default values instead of persisting the changed values

[2017-09-21 11:15] onoufriosm commented on #118
I managed to find a workaround by keeping the form values in the state of my parent component. This is not ideal but it works:

[code]

If there is an alternative I'd be glad to hear it. Thanks.

[2017-09-21 14:58] maxmatthews commented on #112
The `Text` component should inherit any props you pass it. Any reason this doesn't work?
`<Text value="hiddenFieldName" type="hidden" />`

[2017-09-21 15:02] maxmatthews commented on #118
I've run into an issue where calling `setState` caused the form values to empty out. I came up with this solution:
[code]
You could access instance through refs as well. It's not ideal behavior, but it does fix the issue.

[2017-09-21 15:03] maxmatthews commented on #108
@thg303 Any suggestions on this?

[2017-09-21 15:51] mnieber commented on #112
@maxmatthews

I tried with `<Text field="blah" value="hiddenFieldName" type="hidden" />`. This creates a hidden input in the DOM, but no value is passed to `onSubmit`:

```<div class="FormInput"><input type="hidden" value=""><div class="FormError" style="display: none;"></div></div>```

[2017-09-21 16:25] amaschas opened #119 "NestedForm does not propagate values to parent form on submit"
When using a NestedForm in this fashion:

[code]

The value of `nestedForm` is not defined in `values` object when the form is submitted.

[2017-09-21 16:36] thg303 commented on #108
I don't know @maxmatthews, maybe it could be done easier with setting a keyboard event handler with `onKeyDown` attribute.

[2017-09-21 16:38] maxmatthews commented on #108
Would https://github.com/tannerlinsley/react-form/pull/110 fix the issue?
If I do it in a onKeyDown, I have to manage the state which could get messy

[2017-09-21 16:41] thg303 commented on #108
@maxmatthews sure that PR would do the job. I don't have write access but @tannerlinsley would take a look at it soon.
If you're in rush you may release a scoped package and use it temporary ;)

[2017-09-21 16:42] maxmatthews commented on #108
Awesome. As long as it's in the queue. Thanks!

[2017-09-22 10:32] paohuoche opened #120 "Demo display errors, maybe because of NestedForm"
I copy the demo code, then run, show the error "Form.render(): A valid React element (or null) must be returned. You may have returned undefined, an array or some other invalid object."

I found if detected the NestedForm, then ok.

so why?

[2017-09-26 02:45] amaschas commented on #118
Just create a PR for this. Looks like the Form component was updating incorrectly from props instead of state in some cases.

[2017-09-26 07:57] bryandowning commented on #118
I hope that PR gets merged soon! I just ran into a similar problem where using `defaultValues` would cause the form to lose track of the state. Instead of using `defaultValues`, I used `loadState`:

[code]

This is also mentioned in #61

[2017-09-28 06:24] thg303 commented on #118
nice one. hope someone shows up and handles PRs.

[2017-09-28 13:25] aghreed opened #122 "Support `setAllTouched` or `setDirty`"
First - thanks for your time and effort creating this library. I ran into a misunderstanding that cost me some development time that I think could be avoided in the future with some function renaming, or increased documentation.

I was under the impression that `setAllTouched` would set all the fields that I have in the form into a touched state. However, what this function really does is sets the

[2017-10-06 07:41] mykhailo-riabokon opened #124 "Update to React 16"
Hi,

As you probably know React was updated to version 16 (major version update). So, do you have somewhere in a roadmap dependencies update as well? In particular `peerDependencies` which says, react-form can work with `^15.3.1`? Thank you for any feedback.

[2017-10-09 07:16] skchen28 opened #125 "api.getTouched is not a function"
Uncaught TypeError: api.getTouched is not a function
    at formInput.js:50
    at FormField (formField.js:35)
    at ReactCompositeComponent.js:305
    at measureLifeCyclePerf (ReactCompositeComponent.js:75)
    at ReactCompositeComponentWrapper._constructComponentWithoutOwner (ReactCompositeComponent.js:304)
    at ReactCompositeComponentWrapper._constructComponent (ReactCompositeComponent.js:27

[2017-10-09 08:13] thg303 commented on #125
@skchen28 simply printing error log is not enough. please add these items too:

1. what did you wanted to do?
2. how did you do it? (part of source code at-least)

[2017-10-09 12:13] mnieber opened #126 "Treating missing values as validation errors only when submitting"
Hi, my validate function looks like this (simplified):

[code]

The individual answer fields in my form are of type `Textarea` and have a `field` that looks like  `answers.${someKey}.answer`. This produces a hashmap of answers that is passed to the validate function (great!). Now, assume the following sequence of actions:

1. the user sets the `categoryId`,
2. the `validate` function kicks in. Sin

[2017-10-09 17:01] jgentes commented on #20
I'm running into this same problem. If I set the defaultProps with hard-coded values, it works fine. If I use this.props.value it doesn't show the value. I've tried using the `values` workaround but that didn't seem to do it either.

[2017-10-10 18:46] joepuzzo commented on #126
Your answers should also have an error state for when its empty.
[code]

[2017-10-11 09:00] smks opened #127 "Override the Classname"
Our convention is lowercase, hyphened class names. But this library is rendering uppercase classes which is not desired. Is it possible to change this?

.FormInput {

}

I also cannot add classes to this div, which is very limited considering I want to apply different :after selectors to the div.

[2017-10-12 13:00] mnieber commented on #126
@joepuzzo Actually, this.answerField.validate(answers) also complains if `answers` is empty. The problem is however that in step 2 of my sequence, it's not yet an error if `answers` is empty (at this point in the sequence, I don't want to do *any* error checking on `answers` yet)

[2017-10-19 21:34] amaschas commented on #118
@tannerlinsley do you know when you'll be able to take a look at this?

[2017-10-20 15:08] tiagobnobrega commented on #126
I think you colud get around this using form API submitform [(submitform)](https://github.com/tannerlinsley/react-form#submitform-) to define some prop indicating the form is being submitted. Something like this.

[code]
you will probably have to watch out for submitForm errors.

It seem kinda hacky solution, but it could work. Maybe you can achive this behaviour using some of the events. I don't

[2017-10-24 00:33] mervintankw opened #128 "Server side validation"
Hi, does this form supports server side validation? Like using promises or callbacks with form field validation.

[2017-10-24 01:59] joepuzzo commented on #128
@mervintankw Work in progress! I am working on V2 of react-form and asynchronous validation is in it and working! Check out this url for sneak peak http://react-form.cfapps.io/#/

[2017-10-24 02:01] joepuzzo commented on #127
You can always create your own custom Fields using the FormField. This is what i have done in the past to format and style them how i want. Also note, react-form V2 is almost ready and has docs that show you how to write these custom fields. Stay tuned :)

[2017-10-24 02:04] mervintankw commented on #128
@joepuzzo Cool! Looking forward to using this library once asynchronous validation is in!

[2017-10-24 02:04] #128 closed

[2017-10-24 02:04] joepuzzo commented on #125
Get touched is def a function that gets exposed, see here https://github.com/react-tools/react-form/blob/master/src/form.js where the getTouched function is put in the formApi.

[2017-10-24 02:10] joepuzzo commented on #124
This is def something that will be coming down the road. Im working on V2 of this lib now and that will be in the roadmap.

[2017-10-24 02:12] joepuzzo commented on #119
@amaschas Im not sure if this is a problem in the current version, will need to verify, but we are working on V2 of this lib and this is not an issue. Stay tuned :)

[2017-10-24 02:16] joepuzzo commented on #118
@amaschas We are working on getting a V2 of react form out. V2 uses redux under the hood, and hopefully will solve this problem. As it stands, the V2 does not support setting the defaultValues ( had to focus on rebuilding the lib from the ground up first ) however i would be glad to add this functionality ASAP once we get the initial code published.

[2017-10-24 02:18] joepuzzo commented on #117
hmm i thought this worked in the current version but i may be mistaken. Regardless we are working on getting V2 rolled out soon and i know this works in there. Its also a lot quicker :)

[2017-10-24 02:21] joepuzzo commented on #116
@mintyPT  We are working on V2 of this lib and it will call validation when the form mounts! This way you can render errors right off the batt or if you chose to checked the touched field you can wait to show errors when touched. Side note: I will eventually make it so this is configurable via a prop so you as the developer can chose how it works.

[2017-10-24 02:40] joepuzzo commented on #112
@mnieber we are working on V2 of react-form and this works!! You just say `type="hidden"` and use defaultValues to set the hidden field.

[2017-10-24 02:41] joepuzzo commented on #118
@amaschas Scratch that.. i just added support to defaultValues to react-form V2 so you should be all set once we roll that out!!

[2017-10-24 02:55] joepuzzo commented on #108
Hmm this is a good question. We are working on rolling out V2 of react-form and this is something we can look to add once we make the switch.

[2017-10-24 03:01] joepuzzo commented on #107
We are working on getting react-form v2 out soon. This is super fast in IE!! stay tuned

[2017-10-24 03:13] joepuzzo commented on #100
You can simply combine the touched and error values to achieve this functionality. If you really want some custom logic/style etc for your inputs, I would recommend creating your own custom fields via the FormField component. Also, stay tuned for V2 of react form, it will be published soon and the docs have example of how to create your own custom fields. When you do just use the getToucehd and ge

[2017-10-24 03:17] joepuzzo commented on #88
Update: Working on getting V2 of react-form rolled out. This problem will be solved soon!

[2017-10-24 03:20] joepuzzo commented on #28
Working on getting V2 rolled out soon. This supports Asynchronous validation. Stay tuned!

[2017-10-24 04:22] SBoudrias commented on #100
@joepuzzo right now the issue is `<FormError />` always returns a components, so we need to combine a lot of logic to know if we need to display an error message or not. If it returned `null` when empty, this might also fix the problem without extra function.

[2017-10-24 04:49] joepuzzo commented on #125
Closing this because getTouched does exist. If there are additional details you could provide we can reopen.

[2017-10-24 04:49] #125 closed

[2017-10-24 04:52] joepuzzo commented on #120
We have moved to version 2.0.0. If a similar problem occurs with the new demo code let us know and we can look into it.

[2017-10-24 04:52] #120 closed

[2017-10-24 04:53] joepuzzo commented on #119
React-Form is now at 2.0.0 and this is no longer an issue. Closing

[2017-10-24 04:53] #119 closed

[2017-10-24 05:00] joepuzzo commented on #118
@amaschas just rolled out v2.0.0 maybe give this use case another go and see if it works. Note, This was a major update, so there will likely be some breaking changes.

[2017-10-24 05:01] joepuzzo commented on #117
V2.0.0 is now out. Closing unless you find its a problem in the new version.

[2017-10-24 05:01] #117 closed

[2017-10-24 05:02] joepuzzo commented on #116
We have moved to V2 and this should work as expected. Let me know if you still have issues with the new stuff.

[2017-10-24 05:02] #116 closed

[2017-10-24 05:06] joepuzzo commented on #112
I have tested this use case and the above solution works.

[2017-10-24 05:06] #112 closed

[2017-10-24 05:06] joepuzzo commented on #107
V2 Is out!! wooo!!

[2017-10-24 05:06] #107 closed

[2017-10-24 05:09] joepuzzo commented on #100
Check out https://react-form.js.org/#/custom-input and tell me if thats getting close to what you need. That custom input shows how to use the getError, getWarning, and getSuccess functions to hide or show messages. Would using the getTouched fix this issue?

[2017-10-24 05:17] joepuzzo commented on #90
Now at V2

[2017-10-24 05:17] #90 closed

[2017-10-24 05:17] joepuzzo commented on #88
Fixed in V2

[2017-10-24 05:17] #88 closed

[2017-10-24 06:13] mykhailo-riabokon commented on #124
@joepuzzo please let me know if I can help you with something.

[2017-10-25 03:35] joepuzzo opened #129 "Error does not get overridden when you quickly change field during async validation."
Im aware of this issue and logged for traceability.

To recreate:
1. Go to the async form example in the documentation
2. type "joe" and tab out of field
3. very quickly go back into field and ad a "d" after "joe"

Result: the field will think its in an error state from typing "joe" first.

Currently typing anything in field fixes this issue but thats not acceptable.. will work soon.

[2017-10-25 07:24] thg303 commented on #129
I think it would be great if somebody show up and handle PRs. some of them **maybe** fix some unreported issues.

[2017-10-25 11:05] KarpovNik opened #130 "Form validation on mount"
Hi everyone.
Is it possible to disable validation when the form mounts?
V2

[2017-10-25 11:13] joepuzzo commented on #129
@thg303 We just moved to v2 so the pull requests are now way to out of date. Many of the issues have been fixed in V2 and I would be happy to work with future pull requests.

[2017-10-25 11:15] joepuzzo commented on #130
Form validation occurs by default when the form mounts in V2.

[2017-10-25 11:18] joepuzzo commented on #127
V2 is ready and you can customize the fields however you like. Closing because we no longer add classes ourselves, it is now up to the dev to create there own inputs or pass styles to the default ones. See the example custom input in the docs.

[2017-10-25 11:18] #127 closed

[2017-10-25 11:19] joepuzzo commented on #124
@mykhailo-riabokon will do. Having just moved to V2 i want to make sure everything runs smoothly with React 15 first. Will keep u updated

[2017-10-25 11:21] joepuzzo commented on #122
V2 currently does not support the setAllTouched. I am planning on adding dirty and pristine flags soon to V2 and maybe also add setAllTouched.

[2017-10-25 11:23] #118 closed

[2017-10-25 11:26] joepuzzo commented on #103
Hmm try to see if you can get fancy with creating your own custom select. See docs for how to create custom inputs.

[2017-10-25 11:27] joepuzzo commented on #92
Moved to V2 so this is gone

[2017-10-25 11:27] #92 closed

[2017-10-25 11:29] joepuzzo commented on #96
React form 2.0.0 makes deep copies at each Redux update. Therefore this is not an issue as we will never override the default values passed in.

[2017-10-25 11:29] #96 closed

[2017-10-25 11:30] joepuzzo commented on #99
We moved to V2 and this should not be an issue.

[2017-10-25 11:30] #99 closed

[2017-10-25 11:32] KarpovNik commented on #130
So there is no way to prevent this behaviour?

[2017-10-25 11:35] joepuzzo commented on #130
Not right now but i am looking to add a prop to disable this. I can look into adding this prop today and get back to you! Validating on mount by default had more pros than cons and solved some other complexities that i have to revisit to allow this functionality.

[2017-10-25 11:36] joepuzzo commented on #28
Async validation now supported!

[2017-10-25 11:36] #28 closed

[2017-10-25 11:38] joepuzzo commented on #84
Hmm i need to check to see if this is a problem in V2. I don't think it is but I can look into it.

[2017-10-25 11:40] joepuzzo commented on #130
In the mean time however, if you need to prevent errors or something from showing up just used the touched attribute.

[2017-10-25 16:43] nishthaarora opened #131 "Why is Babel-pollyfill a dependency?"
We are doing code splitting on our site and we are dynamically loading a react-form and we get this error "only one instance of babel-polyfill is allowed". As we already included in our main bundle. Please consider removing this as a dependency or if there is any workaround fro this?

[2017-10-25 16:51] joepuzzo commented on #131
Babel polyfill is there because internally react-form uses `async` `await`. If we don't include it as a dependency then it wont work for people that don't include the polyfill. I had a feeling this may be an issue but i have tested this in one of my own personal projects that also loads babel-polyfill and it has worked fine. I think the problem is the dynamic loading. I am def open to suggestions

[2017-10-25 17:10] joepuzzo commented on #131
Maybe i need to take use somthing like https://babeljs.io/docs/plugins/transform-runtime/

[2017-10-25 17:35] joepuzzo commented on #131
I just pushed out a new version and this should be fixed!!! let me know if that worked

[2017-10-25 19:45] joepuzzo commented on #130
@KarpovNik I have added a `dontValidateOnMount` flag! Its in V2.0.3 so grab @latest and see docs for ref

[2017-10-25 21:38] #114 closed

[2017-10-26 02:00] drusellers commented on #124
Outside of one odd issue, that I think is my own issue - its (v2) working quite nicely on React v16

[2017-10-26 02:04] drusellers opened #132 "React 16 issue with Text field"
[code]

On wonder if its because of the onInput rather than onChange usage.

 https://github.com/react-tools/react-form/blob/master/src/components/form-fields/Text.js#L35

[2017-10-26 04:08] #130 closed

[2017-10-26 11:49] drusellers commented on #132
https://stackoverflow.com/a/40003179

[2017-10-26 17:17] nishthaarora commented on #131
Can you share with us the major changes that has been done from version 1 to 2 because we are upgrading from version one to the new version and I don't see babel-pollyfill related error anymore but I am seeing some other errors.

[2017-10-26 20:16] joepuzzo commented on #131
Yeah i'm working on getting the other features added. We needed to get some bare minimums upgraded first so we had to loose some functionality to first roll out V2. I will compile a list and post it here soon.

[2017-10-26 23:15] joepuzzo commented on #131
1. V2 does not have displayed <Error> messages. If you want to display an error message you have to create a custom input via a FormField or render it below one of the base inputs (example of doing this is in docs under custom inputs ). This is because when it comes to style, I wanted to leave it up to dev to create there own <ErrorMessage> components. That being said you can always create a custo

[2017-10-26 23:15] joepuzzo commented on #131
Also i just pushed out V2.1.0 and added some importnat features that were missing so i would give that a try now.

[2017-10-27 18:18] arolson101 opened #133 "Converting circular structure to JSON"
I am passing a react element as a prop to a custom component like this:
[code]

this results in:
[code]

in ```checkShouldComponentUpdate ``` it's testing ```JSON.stringify(a) !== JSON.stringify(u)```.  I'm not quite sure why the structure is circular but it would be nice if this was supported in version 2 (it worked in version 1)

[2017-10-28 02:04] joepuzzo commented on #133
Hmm you are not alone. Someone else is having similar problem.. i need to revisit why i added that check in shouldComponentUpdate.

[2017-10-28 03:17] joepuzzo commented on #133
@arolson101 Hey turns out that optimization was not needed anymore because i updated react form to use react-redux and it no longer used state. You should be all set now, get the latest version 2.1.1  and let me know it this problem is solved.

[2017-10-28 03:28] joepuzzo commented on #133
Hmm although removing this may cause some performance issues in IE i think i will disable it by default and add an optimization flag.

[2017-10-28 04:05] joepuzzo commented on #133
Ok so i removed this optimization by default but if you need it then pass in optimize prop. V2.1.2

[2017-10-28 18:03] casperOne commented on #131
@joepuzzo What is the approach we should take in v2 in place of setAllValues?

[2017-10-29 12:04] joepuzzo commented on #133
Update: working on a solution that adds this optimization by default and does not have circular json issue.

[2017-10-29 12:23] joepuzzo commented on #132
Can you provide the code that causes this to happen. If i remember correctly, I went with onInput because i noticed that when i had a lot of fields in a huge form on one of my production applications, that the on change was not getting fired, i eventually tracked this down to an issue with using the onChange and updating it to be onInput solved my issue. I am trying to track down the source where

[2017-10-29 13:09] joepuzzo commented on #133
Ok so im now taking advantage of https://www.npmjs.com/package/circular-json so dont even worry about that temp solution. Your issue should be fixed now :)

[2017-10-29 13:12] joepuzzo commented on #126
We have moved to V2 of react form. Try this in V2 and if you are still having issues open a new issue :)

[2017-10-29 13:12] #126 closed

[2017-10-29 13:24] joepuzzo commented on #101
Fixed this in latest version of V2

[2017-10-29 13:24] #101 closed

[2017-10-29 13:24] joepuzzo commented on #91
This is fixed in latest version of V2.

[2017-10-29 13:24] #91 closed

[2017-10-30 01:46] casperOne commented on #58
@tannerlinsley Here's a complete example on codesandbox.io:

https://codesandbox.io/s/ko3no7062r

If you click on "Add Child" you'll see that the text fields added do not display the `childId` field that is in the object passed to the call to `addValue`.

However, if you place a breakpoint somewhere in `MyForm` you will see that after "Add Child" is clicked, the value exists in the array for one i

[2017-10-30 16:31] arolson101 commented on #133
Thank you for your responsiveness!
In my scenario, calling stringify is not an optimization; significant time is spent in the stringify.  Is there a way to disable, or better yet change it to opt-in?  I'd rather see a reference or equality test and be done with it

[2017-10-30 20:53] joepuzzo commented on #58
We have moved to v2 of this lib. I would upgrade and check out the new docs

[2017-10-30 20:56] joepuzzo commented on #133
Have u updated and tried with the latest? Your og issue was that u were getting circular reference and u should not be any more. I could maybe add a flag thats says “dontOptimize” but trust me this will slow the form down the second u start getting big forms with lots of rendering

[2017-10-30 22:36] arolson101 commented on #133
Yes, this was on 2.1.5
The problems with "big forms with lots of rendering" sounds like redux-form, which is part of the reason why I switched to react-form.
I would suggest using a library to test either shallow (or deep, if necessary) equality rather than stringifying.

[2017-10-30 23:36] joepuzzo commented on #133
Stringifying is the fastest way to deep compare in JS

[2017-10-30 23:40] tannerlinsley commented on #133
@joepuzzo, it seems like there must be a better way to handle these change detections. I would really love it if there was no stringification at all. Thoughts?

[2017-10-30 23:42] tannerlinsley commented on #133
I would simply loop over the keys of the old and new props, and detecting strict equality differences. As soon as you find a difference, you should bail out of the checking, so no time is wasted. I'll help you write this if you want.

[2017-10-30 23:45] joepuzzo commented on #133
Hmm i have done reading on this before and it seemed like unanimous conclusion was json.stringify is the fastest most efficient way to do comparisons on complex objects.. is this wrong ?

[2017-10-30 23:46] arolson101 commented on #133
Here is a good summary of the stringify equality: http://www.mattzeunert.com/2016/01/28/javascript-deep-equal.html

[2017-10-30 23:49] arolson101 commented on #133
Is there a reason for doing a deep equality rather than a shallow one?
Also, since you're dealing with props, users of your library might decide to pass down a large object - e.g. part a redux store or (in my case) a react element

[2017-10-30 23:55] joepuzzo commented on #133
So this is a difficult problem to solve lol. React-form uses reacts context to give all FormFields access to the form api ( this is one of the most important parts of this lib ). Well this is very powerfull, it comes with the shitty side affect that you see in redux-form. Every single field will re-render. So in order to prevent this, the FormField takes advantage of reacts `shouldComponentUpdate`

[2017-10-30 23:57] joepuzzo commented on #133
Hmm i guess maybe this poses a quesion.. how does react do it? In other words how does react know that props changed and to trigger rerender. does it do deep compare? hmm This is googleable.

[2017-10-31 00:10] joepuzzo commented on #133
Ok i have done more reading and educated myself more lol.. i think the solution is what you posted @arolson101 http://www.mattzeunert.com/2016/01/28/javascript-deep-equal.html.

[2017-10-31 00:12] joepuzzo commented on #133
@tannerlinsley it looks like the deepEqual function does exactly what you wanted to write `While jsonEqual is faster at confirming that two objects are equal, deepEqual is much faster at finding out that they aren’t.`

[2017-10-31 00:59] drusellers commented on #132
Using `create-react-app` then `yarn add react-form`

I changed the `App.js` to this.

[code]

[2017-10-31 01:53] tannerlinsley commented on #133
See #134

[2017-10-31 01:55] tannerlinsley commented on #133
While `deepEqual` would work, that would effectively be doing more than what is normally needed in a standard react component.  99.9% of the time, react optimization is done at the prop level, or in other words, the keys of the `props` object. So in the case of #134, it's plenty sufficient to just compare the old and new props of the child element.

[2017-10-31 02:57] tannerlinsley commented on #133
See #136

[2017-10-31 03:22] tannerlinsley commented on #111
Closing for now. Reopen if needed.

[2017-10-31 03:22] #111 closed

[2017-10-31 03:22] tannerlinsley commented on #58
This is now working as expected. Closing for now.

[2017-10-31 03:22] #58 closed

[2017-10-31 03:22] tannerlinsley commented on #84
So far so good for me. Going to close for now.

[2017-10-31 03:22] #84 closed

[2017-10-31 03:23] tannerlinsley commented on #93
@thg303 is right. Closing for now.

[2017-10-31 03:23] #93 closed

[2017-10-31 03:24] tannerlinsley commented on #100
@joepuzzo's new custom input HOC's should do the trick. This is much better now. Going to close for now.

[2017-10-31 03:24] #100 closed

[2017-10-31 03:27] tannerlinsley commented on #103
@thg303 I would absolutely suggest wrapping something like https://github.com/paypal/downshift or https://github.com/JedWatson/react-select. React-Form's scope is not to provide every component, but instead provide a great and fast way to create your own components and reuse awesome components from the ecosystem.

Closing for now.

[2017-10-31 03:27] #103 closed

[2017-10-31 03:29] tannerlinsley commented on #106
This has changed slightly in version 2.0, but a ref should still do the trick to access the internal api of the component. Closing for now, but feel free to reopen or join the slack channel to get more information on how to do this. Thanks!

[2017-10-31 03:29] #106 closed

[2017-10-31 03:35] tannerlinsley commented on #131
It looks like this issue is fixed in the latest version, so we're going to close this issue. To track progress on setAllValues, follow #122

[2017-10-31 03:35] #131 closed

[2017-10-31 11:39] #108 closed

[2017-10-31 11:52] joepuzzo commented on #133
Checked out PRs and added some comments. We are close to resolution once those PRs are good to go.

[2017-10-31 12:25] casperOne commented on #58
@tannerlinsley Thanks for taking a look.

Any window on when it may be released?  Is it fixed in just the latest version, or will it be addressed in 1.3 as well?

(sorry, I don't see any changes related to this on npmjs.org, no commits, no changes to the codesandbox.io example)

[2017-10-31 13:02] drusellers opened #140 "Serialization Issue"
I'm currently building a custom form input and I'm running into a `JSON.parse` issue that is somehow trying to parse an `undefined` variable.

I'm missing the smarts to make NPM work with a local copy of react-form so I'm not 100% sure what is going on there. The object that I'm passing into the `setValue` call is not undefined. This makes me suspect that either a context property is not getting p

[2017-10-31 13:06] drusellers commented on #140
Is it because I'm trying to call `setValue` with an array of data?

[2017-10-31 16:17] tannerlinsley commented on #58
In the next minor release, most likely. Stay tuned.

[2017-10-31 17:17] drusellers commented on #140
i found the dynamic form example, which is what I really needed.

[2017-10-31 17:17] #140 closed

[2017-10-31 21:41] #132 closed

[2017-10-31 21:48] tannerlinsley commented on #133
This should be fixed now that we're doing a shallow equality comparison :)

[2017-10-31 21:48] #133 closed

[2017-10-31 21:49] tannerlinsley commented on #129
As far as I can tell, this is fixed in 2.0 :) Huzzah!

[2017-10-31 21:49] tannerlinsley commented on #124
Fixed in master. :) Yay!

[2017-10-31 21:49] #124 closed

[2017-11-01 06:21] tannerlinsley opened #141 "Add formApi method to reset entire form to default or initial state"

[2017-11-01 06:29] tannerlinsley opened #142 "Add formApi method for swapping array value positions"
eg. `formApi.swapValues(index, index)`

[2017-11-01 13:49] arolson101 commented on #133
2.2.0 is much better, thank you!

[2017-11-01 13:51] VadimZhiltsov commented on #141
I've created PR for this. Method name is `resetAll`.

[2017-11-02 04:40] #141 closed

[2017-11-02 04:40] tannerlinsley commented on #141
Released!

[2017-11-02 11:33] AlexandreBernard opened #144 "accessing formApi on Form prop onSubmit"
Hi,

I've just seen #139 added access to event object on submit

why not having access to formApi on onSubmit too as we have access to it on formDidUpdate?

I would even suggest replacing the values object by the formApi object as it would just give more flexibility, be more consistent and as it contains values too - but this of course would be a breaking change

the reason why I'm asking this is

[2017-11-02 15:39] tannerlinsley opened #147 "Add link from website/docs back to github"

[2017-11-02 15:40] tannerlinsley opened #148 "Add installation instructions to Docs"

[2017-11-02 17:09] joepuzzo commented on #148
good idea!

[2017-11-02 17:09] joepuzzo commented on #147
Another good idea!

[2017-11-02 17:39] joepuzzo commented on #144
What do you mean by "twoOnSubmit"? And also good idea.. i dont want to introduce breaking changes but i can def make it so third prop is the whole API. The reason I did values is because that was pretty natural for people who just want `onSubmit( values )`.

[2017-11-02 17:39] joepuzzo commented on #142
This is in my backlog lol

[2017-11-02 17:47] tannerlinsley commented on #144
Imo the form API should be the last method for all prop callbacks. This
alleviates the need for getApi and instance saving.
On Thu, Nov 2, 2017 at 11:39 AM joepuzzo <notifications@github.com> wrote:

[2017-11-03 09:51] AlexandreBernard commented on #144
Yeah of course it's not possible to release such a breaking change and it's totally natural for most cases to have values as a first parameter. Having it as a third parameter would be great already

I mean this by "double" onSubmit :

[code]

[2017-11-03 14:27] wayne5540 opened #149 "how to use input type="file"?"
First if all, thanks for the hard work, this project amazing.

However I'm wondering how to add a file input tag to react-form, for example:

[code]
I expect this input to encode base64 data as value so I can send it to my API endpoint.

Any hint?

Thanks.

[2017-11-03 18:19] joepuzzo commented on #149
Hey @wayne5540. So i have no default ( out of the box ) `FormFields` that support files ATM. BUT you can very easily create a custom Input via the `FormField`. Check out the docs here https://react-form.js.org/#/custom-input.

[2017-11-03 18:59] joepuzzo opened #150 "Add more tests"
This an an issue to be motivation to myself to add more tests!!

[2017-11-04 07:21] lynnchin opened #151 "how to set the text values when the form is first loaded?"
Do you have an example that shows us how to set the text value when the form is loaded?  I tried with something like this ``` <Text field="name" id="name" value={this.state.value} /> ``` but it's not working.

[2017-11-04 07:47] lynnchin commented on #151
It appears that I found there is a way to set the value before loading the form. Basically I just use getApi props in the Form component level to set the value with the text field and id called 'hello-field' in the FormContent component.
[code]

Would like to see if there is any other better ways on doing this.

[2017-11-04 22:22] joepuzzo commented on #151
Look at the docs and see the default values prop. Or u can also use the set value like you have done above

[2017-11-05 04:53] casperOne opened #152 "Nested forms overwrite values passed to addValue"
This is with the latest version (at this time), 2.4.0.

When using nested forms, it assumes that there aren't prior values that exist in the form at the location that it's mounted to.

See the following sandbox:

https://codesandbox.io/s/vqo5054xy0

When the `Add Child` button is clicked, it calls `addValue` and renders out the children.

If I use a `Text` control with the `field` set to the full

[2017-11-05 04:54] lynnchin commented on #151
I see. Well, I was thinking if default values is the appropriate way to do this. What I was trying to do is to make an API call and set the value in text field when successful response is returned. Default values seems to be used in a situation where the values are already known when rendering the component.

Anyway, thanks for the suggestion!

[2017-11-05 04:54] #151 closed

[2017-11-05 12:50] joepuzzo commented on #151
So there are two options for what u need. Option 1: if you can make your API call before you render your form, then use default values. Option 2: if your api call needs to happen after the form has been rendered, use setValue. This is actually perfect example of when to use set value.

[2017-11-05 13:27] joepuzzo commented on #152
Right this is somthing i should call out in docs.. react-form does not support using addValue where the new value results in a nested formField. Add value is supposed to be used to add basic fields to a form, OR nested form. I think you have two options here. 1 - do what you are doing now and use the full path. 2 - If you want the children to be nested forms ( I would probably want this ) then hav

[2017-11-05 13:38] joepuzzo commented on #144
Ok i will add that param to callback when i get a chance.. and ok i can explain that "double" on submit. So in pure HTML land, `<forms>` have an onSubmit that gets called when a `button` within the `form` with `type='submit'` gets clicked. So, what the `<form onSubmit={formApi.submitForm} id="form2">` is doing, is "wiring up" the native html forms onSubmit, to the forms special `submitForm` functi

[2017-11-07 08:38] hnq90 commented on #131
Sorry to reply in a closed issue but how can we implement `postSubmit` & `preSubmit`? I'm migrating from `react-form` v1 to v2 and I need to implement it for myself.

[2017-11-07 12:34] joepuzzo commented on #149
@wayne5540 any updates on this? Have you tried to create a custom input

[2017-11-07 15:22] wayne5540 commented on #149
Hi @joepuzzo thanks for following up 😄

I ended up using [react-dropzone](https://github.com/react-dropzone/react-dropzone) and native react form to create my FileInput. Since my form is quite simple so it's not necessary to use plugin to create my form. However react-form is an awesome plugin, I'll definitely try it in the near future when my form becomes more complex than now 😸

close this issue

[2017-11-07 15:22] #149 closed

[2017-11-07 16:48] tannerlinsley opened #155 "Feature Parity: provide a setAllValues formApi method."
This method would replace all of the form values it's called in. Pretty straight-forward

[2017-11-07 19:58] joepuzzo commented on #155
Only part thats not strait forward is for nested forms. The problem is this: If you have a nested forms say `Questions` and you call `setAllValues` with `{ name: 'Joe', questions: { favColor: 'green', favFood: 'pizza' } } ` Then the parent forms store will get populated with the values, but the nested forms will not. As an MVP i could add this to the `formApi` but users will have to be aware of th

[2017-11-07 19:59] joepuzzo commented on #155
in other words if you want to setAllValues on nested forms.. you will have to call the nested forms setAllValues.

[2017-11-07 20:06] tannerlinsley commented on #155
I think that's fine. 👍

[2017-11-07 20:06] joepuzzo commented on #155
cool

[2017-11-07 21:49] joepuzzo commented on #155
This is in.

[2017-11-07 21:49] #155 closed

[2017-11-08 03:02] joepuzzo commented on #142
Done .. 2.6.0 has swapValues!

[2017-11-08 03:02] #142 closed

[2017-11-08 04:51] joepuzzo commented on #150
I have added more tests! more to come!

[2017-11-08 09:18] simonrobb opened #156 "FormField not rerendering after async validator returns"
I have a custom input with an async validator. Upon the async validator returning an object `{ error: 'Error message' }`, the `<Form />` component correctly receives the new error however the `<FormField />` does not rerender - hence the error message isn't displayed until the control is refocussed and edited.

I've traced the problem to the `shouldComponentRender` method in the `FormField` HOC. U

[2017-11-08 12:48] joepuzzo commented on #156
Hmm you're right.. i will look into this.

[2017-11-08 12:57] joepuzzo commented on #156
@simonrobb Ok so i put in a fix that will now make this work.. not the fix i would like but it will work. Basically i added a check to see if the `validating` object changed signifying that the field was done validating. I need to keep looking into why the error was the same but can you let me know if that worked?

[2017-11-09 00:17] simonrobb commented on #156
Thanks for the quick fix! Yes can confirm issue is fixed in 2.6.1.

[2017-11-09 00:23] #156 closed

[2017-11-09 04:26] jiangweiliu-aa opened #157 "How to implement setAllTouched in react-form v2?"
I'm upgrading react-form from v1 to v2, I found `setAllTouched` has been removed from v2. I'm wondering of how to implement it in a neat way, instead of running `getTouched` for all field.

[2017-11-09 06:51] jiangweiliu-aa opened #158 "Can't find onValidationFail in react-form v2"
Currently, I'm upgrading react-form from v1 to v2. I haven't found `onValidationFail` which is prop of `Form` supported by v2.

Is there workaround for replacing `onValidationFail`?

[2017-11-09 09:48] SBoudrias opened #159 "What is the motivation of using Redux for v2?"
Hi, I searched for an answer, but couldn't find any on the website/documentation or changelog.

What was the motivation to add all those new dependencies on redux in v2?

React form v1 was pretty lightweight, but now it's a bit more complex.

[2017-11-09 11:50] LyhjeHylje opened #160 ""field" not passed to custom input from FormField"
I have made a custom input that relies on the "field" -prop in v1.
When converting to v2 I noticed that the FormField-hoc does not pass"field" to my custom input.

[2017-11-09 13:56] joepuzzo commented on #160
There is a pull request for this. i will add it in the next release.

[2017-11-09 13:59] joepuzzo commented on #160
https://github.com/react-tools/react-form/pull/154

[2017-11-09 14:03] joepuzzo commented on #159
Create an old react-form from V1 and add more than 6 inputs. Now open it in internet Explorer and watch as you type and the letters show up seconds after you type them lol.

This is one of the motivations but mainly using `state` is very slow and cumbersome. Redux solves this problem and makes the code much simpler, stable, and more consumable with an emphasis on stable. Remember that react batche

[2017-11-09 14:04] joepuzzo commented on #158
Yeah my apologies as there are a few features i have yet to port over. I can look into adding this.

[2017-11-09 14:05] joepuzzo commented on #157
Yeah my apologies as there are a few features i have yet to port over. I can look into adding this as well as the onValidationFailure.

[2017-11-09 14:34] joepuzzo commented on #160
Working on this now stand by.

[2017-11-09 14:48] joepuzzo commented on #160
Ok so i merged the pull request and added some docs... you now have access to  `fieldApi.getFieldName()`! https://react-form.js.org/#/custom-input . This is in latest version 2.7.0

[2017-11-09 14:48] #160 closed

[2017-11-09 14:50] joepuzzo commented on #159
The cool part is that fact that it uses redux is abstracted away from the dev... other than noticing that it has it as dependency lol.

[2017-11-09 17:03] AKNiazi opened #161 "Clear form after submit"
I am searching for a way to clear the form after the form is submitted. Unfortunately can not find any example. I am using v1

[2017-11-09 21:10] joepuzzo commented on #152
@casperOne can i will be closing this unless there is more to discuss?

[2017-11-09 21:15] joepuzzo commented on #157
@jiangweiliu-aa i will add this but one thing to be aware of is that `setAllTouched` will NOT set nested forms fields to touched.

[2017-11-09 21:38] joepuzzo commented on #157
Ok so i may have to unfortunately change the interface for this. I could get into the dirty details, but basically because of the way nested forms work, it would make it difficult to have a function `setAllTouched(true)` or `setAllTouched(false)` because i cant tell the difference between what is a nested field, and what is not. In the future we want to work toward a solution that takes out this c

[2017-11-09 21:44] casperOne commented on #152
@joepuzzo Yes, feel free to close this.

Also, the double `NestedForm` was intentional, only to get the table to space correctly.

I have a generic solution to track object paths in a hierarchy which I used with `redux-form`, which was easily adapted for this purpose.

[2017-11-09 21:57] joepuzzo commented on #157
Ok i just put out V2.8.0 and it has setAllTouched the way i talked about above. Again sorry this is the cleanest way i can do this for now. NOTE when you click the submit button everything, INCLUDING NESTED FORMS, get set to touched simply because of the way HTML forms work so keep that in mind as that will generally get you most use cases.

[2017-11-09 22:01] #152 closed

[2017-11-09 22:01] #150 closed

[2017-11-10 02:48] jiangweiliu-aa commented on #157
@joepuzzo Thanks for your update, it really saved my life.

[2017-11-10 02:48] #157 closed

[2017-11-10 03:00] jiangweiliu-aa commented on #158
Thanks for your inform, this function actually is very useful. Without this function, my workaround is:

After all validation check in function `validateError`, I will check if there is any error value, if there is, it will run the function `onValidationFail`.

Which is quite dirty!

It is reasonable that dev can do something during each step in a validation cycle, just like `preValidate`.

I'm ho

[2017-11-10 03:06] joepuzzo commented on #144
I have added formApi to onSubmit as third param. V2.8.1

[2017-11-10 03:06] #144 closed

[2017-11-10 03:11] joepuzzo commented on #158
hmm my only issue with adding this is i would basically have to do your workaround internally... the issue with that solution is i would have to "look" at the errors object every time validation occurs and validation occurs every time you type in a text input... there will most likely be performance issues here.

[2017-11-10 03:12] nganlamsong opened #162 "Cannot call a class as a function"
Very good job you have, react-form is the one I chose for my project because of its simple and flexible ability!
Certainly, I'm having an issue when I try to create a custom input, I just simply copy the sample code from https://react-form.js.org/#/custom-input to my code and Webpack failed to compile with: 'classCallCheck.js:7 Uncaught TypeError: Cannot call a class as a function'

Any help for m

[2017-11-10 03:12] joepuzzo commented on #158
I think a better solution that will take more time to implement is to increment and decrement a value for every error that exists. This way i would not have to parse the errors object every time but instead check an integer.

[2017-11-10 03:23] joepuzzo commented on #162
This is not an issue with react-form. You might be missing a loader or babel setting for webpack, or maybe have something missing from your react project. You can see the code copied directly from the docs here https://codesandbox.io/s/r44op4kxp4.

[2017-11-10 03:23] #162 closed

[2017-11-10 03:27] joepuzzo commented on #122
I have added setAllTouched... it has different signature than before.

[2017-11-10 03:27] #122 closed

[2017-11-10 03:27] joepuzzo commented on #159
@SBoudrias Are you cool if i close this as its not really an issue?

[2017-11-10 03:33] joepuzzo commented on #161
I cant really help you too much with V1 as its not supported anymore.. with respect to both V1 and V2 however. There is a setAllValues api method that is exposed that allows you to set all of the values.. you could simply call `setAllValues( { setting all your values to whatever you want } )` OR with V2 you can also simply call `resetAll()`

[2017-11-10 03:44] SBoudrias commented on #159
@joepuzzo yes thanks for the answer.

I think you should state this clearly in the README though as it can have a bundle size impact on project not relying on redux. Or maybe just a 2.x release announcement post explaining the changes and motivation.

[2017-11-10 03:44] #159 closed

[2017-11-10 03:45] joepuzzo commented on #159
@SBoudrias Agreed i can probs add some info about this somewhere. Thanks

[2017-11-10 05:09] AKNiazi commented on #161
I was able to use instance.resetForm() where instance is available as argument in onSubmit (values, state, props, instance).

[2017-11-10 05:09] #161 closed

[2017-11-10 06:31] jiangweiliu-aa commented on #158
got your meaning. Thanks! Currently, my workaround works well, even it is dirty, so that I don't need a hotfix for it but a long term excellent design for it. I think this is better for both the library itself and my project.

[2017-11-10 07:36] hnq90 opened #163 "`preSubmit` for v2?"
I'm migrating my project from using `react-form` v1 to v2.
In old forms, I used `preSubmit` for normalizing form's values but in v2, it hasn't implemented yet.

So how can I implement `preSubmit` on v2? Is it good when call my normalization function in `submitForm`?

[2017-11-10 07:48] LyhjeHylje commented on #163
I left my old v1 presubmit function as a class method and then did:
[code]
This is probably quite like what you are suggesting. It seems to work fine for me.
Having a preSubmit in react-form itself would be less confusing looking though.

[2017-11-10 07:55] hnq90 commented on #163
@LyhjeHylje Yes, actually I did same as yours but it's still better to have both `postSubmit` & `preSubmit` in react-form lifecycle.

[2017-11-10 09:09] AlexandreBernard commented on #144
awesome, thanks

[2017-11-10 09:12] jiangweiliu-aa opened #164 "resetAll doesn't reset value to initial value"
once I upgraded to react-form v2, `resetAll` doesnt' work like initial behavior, instead of resetting value to initial value, it reset value to an empty object `{}`

[2017-11-10 10:03] LyhjeHylje commented on #164
Same here, although I have to call setAllValues to populate my form so I am unsure if that counts as initial values or not.

[2017-11-10 10:22] jiangweiliu-aa commented on #164
@LyhjeHylje I tried `setAllValues ` as well, however, it won't reset touched status, so that even it has been reset to initial value, touched won't be reseted.

[2017-11-10 12:33] joepuzzo commented on #164
Yeah resetAll will basically reset the form to the default redux state internally. Clearing out ( resetting ) anything that you have done. ‘DefaultValues’ is used to set forms initial values but it will be overridden by reset. Simply call setAllValues after calling reset and you should be ok.

[2017-11-10 12:34] joepuzzo commented on #163
Yeah i can add these. I will keep ya posted

[2017-11-10 17:55] joepuzzo commented on #163
I will probs only add `preSubmit`since you can just call a function in the onSubmit to achieve `postSubmit`

[2017-11-10 20:35] joepuzzo commented on #163
Done!!! V2.9.0

[2017-11-10 20:35] #163 closed

[2017-11-10 20:59] joepuzzo commented on #164
Are we cool to close this as resetValue does what its supposed to and you can achieve your use case other ways?

[2017-11-11 05:02] lynnchin opened #165 "Any recommendation on which date picker component to use?"
Just wondering if there is any recommendation on which date picker component I can use that integrates with the react forms library?

[2017-11-11 06:10] joepuzzo commented on #165
Funny u mention this .. i used react date pickee with react form and it worked great.

[2017-11-11 06:28] lynnchin commented on #165
hmm alright, I will have a look at react date picker then :dancing_men:

[2017-11-11 06:51] lynnchin opened #166 "How to bind a list of options into Select field component with data returning from asynchronous call?"
Hi, I want to bind the list of options values by fetching data asynchronously from API call. I wonder how can I achieve this since the select component does not allow an empty list?

```<Select field="field-name" id="field-id" options={{}} />```

[2017-11-11 06:53] #165 closed

[2017-11-11 12:29] joepuzzo commented on #165
I created custom input for this using FormField

[2017-11-11 13:06] joepuzzo commented on #166
Hmm i could maybe undate the select to support this but in the mean time just create a custom input using FormField.

[2017-11-11 13:58] hnq90 commented on #163
@joepuzzo Thank you for your hard work.

[2017-11-11 14:02] hnq90 commented on #166
@lynnchin Pass an empty object to `options` will not work. I think it should be an array.
Or you could fill a default option for the form's initiation: `[{ label: 'Please select', value: '' }]`.

[2017-11-11 14:04] joepuzzo commented on #166
Yeah there are probably a few ways you could do this. I would def try to mock out a custom FormField. Basically copy the source code for the default select and modify to fit your needs

[2017-11-11 15:15] LyhjeHylje commented on #164
I'll try just using setAllValues as described 2 posts ago.

Though it sounds to me that resetAll is actually clearAll if it overrides 'DefaultValues'? (which I don't know how to set btw)

[2017-11-11 19:21] joepuzzo commented on #164
https://react-form.js.org/#/ The docs describe how to use default values.

[2017-11-11 19:23] joepuzzo commented on #164
And good point... default values could maybe be kept around when calling resetAll.

[2017-11-12 05:28] lynnchin commented on #166
yep @hnq90 I was having the issue if I pass in an empty object and it's not working at all, but it appears the way you suggest works fine :) Thanks guys! 👍

[2017-11-12 10:35] SudoPlz opened #167 "What happened to errorProps?"
I'm trying to style a specific label that shows up when an error exists, but I no longer see the `errorProps` property on each field.

How can we do this now?

Thanks

[2017-11-12 16:10] joepuzzo commented on #167
I would recomend creating a custom input. See the example in the docs that does exactly this.

[2017-11-12 16:10] #167 closed

[2017-11-13 02:17] sboudrias-aa commented on #164
Yeah, I don't really see the use case to clear everything. When would we actually want to do that rather than reset the form to the initial state?

[2017-11-13 02:20] sboudrias-aa commented on #158
I might be wrong, but I think `onValidationFail` was only triggered when form submit was aborted due to validation error no?

[2017-11-13 02:55] jiangweiliu-aa commented on #164
@joepuzzo Thanks for your update.
it makes sense that rollback to default value while calling `resetAll`.

[2017-11-13 10:47] lynnchin commented on #165
Can I ask which date picker you are using? Is it this one?
http://react-day-picker.js.org/examples/

[2017-11-13 13:40] joepuzzo commented on #164
Yeah @sboudrias-aa @jiangweiliu-aa I agree now that i think this was a miss when i added resetAll.. I will prob try and update to keep default values and add a `clearAll` as well.

[2017-11-13 13:40] #166 closed

[2017-11-13 13:44] joepuzzo commented on #158
@sboudrias-aa Oh this might be the case.. if it is then i can def add that... maybe call it onSubmitFailure or somthing so its more clear?

[2017-11-13 13:45] joepuzzo commented on #165
https://hacker0x01.github.io/react-datepicker/

[2017-11-14 01:09] SBoudrias commented on #158
This would work for us :)

[2017-11-14 04:07] joepuzzo commented on #164
I have updated this in V2.9.1. ResetAll will now keep default values and I have also added `clearAll`

[2017-11-14 04:07] #164 closed

[2017-11-14 04:30] joepuzzo commented on #158
Added `onSubmitFailure` in V2.10.0

[2017-11-14 04:30] #158 closed

[2017-11-14 05:22] sam0901 commented on #141
hey @VadimZhiltsov can you show an example on how to use this `resetAll` method that you added

[2017-11-14 06:01] jiangweiliu-aa commented on #158
Cool, thank you very much!

[2017-11-14 20:39] danbopes opened #169 "Specifying a string value in fields should not attempt to autoconvert to integer"
See this codepen: https://codesandbox.io/s/oq899oy076

You'll notice that when I type something into the third field, it attempts to turn friends into an array. Strict type-checking should occur, and if a number was not passed (1 !== '1'), it should not attempt to convert to an array.

[2017-11-14 21:13] joepuzzo commented on #169
Haha yup i knew about this and forgot to update docs. As it stands you cant use numbers as field names. We have had some discussion about this exact thing and i dont know if we are going to support it.

[2017-11-14 21:23] tannerlinsley commented on #169
It's considered bad practice generally in javascript to use sequenced numbers as keys in objects. 99% of the time, you should be using an array for the data, or if you absolutely need to keep track of random numbers, it's easy enough to simply prefix your key with something like `item_1` or `n1`.

[2017-11-14 21:26] danbopes commented on #169
We're able to pass javascript numbers to the field via react, so ideally, I think we should typecheck to see if it's being passed as a string or as a number. (This ideally should be the default stance).

For compatibility: I suggest we add a strict parameter (or similar), that if set to true, will typecheck as intended.
Ideally: If it's a string, it's an object. If it's a number, it's an array. Pe

[2017-11-14 21:33] joepuzzo commented on #169
Hmm.. while I do agree with @tannerlinsley the number system is a good example of where numbers could make sense for field names.

[2017-11-14 21:41] tannerlinsley commented on #169
I would like to see your use-case, as though your example shows a technical use-case, that doesn't provide the whole story.

I will attempt to refactor the internal field path generating functions to allow this. Stay tuned.

[2017-11-15 00:14] tannerlinsley commented on #169
Fixe via #170

[2017-11-15 03:38] jiangweiliu-aa opened #171 "setAllTouched after validateFail"
In react-form v1, once submit with validate fail, form will set all field touched, it is a reasonable implementation.
However, in react-form v2, set all field touched have been removed after `validate fail`.

Now what I did is running `setAllTouched` in `onValidationFail`. But I think this is a bad solution.
Since set all touched after submit with failure is an obvious user experience.

What shoul

[2017-11-15 03:40] joepuzzo commented on #171
Whenever you click on the submit button every field will get touched.. as long as your button is within the <form> and its type=submit

[2017-11-15 06:29] jiangweiliu-aa commented on #171
I will try it, thank you!

[2017-11-15 06:32] jiangweiliu-aa commented on #171
I checked my code, the button is within the form and its type is submit.

I guess the problem is getTouched happens after `onValidationFail `. Am I right?

[2017-11-15 14:55] SebastiaanNijland opened #173 "[Docs] Sidebar doesn't respond to mobile screen sizes"
Reproducible by resizing chrome to ~500px width. I suggest implementing the standard bootstrap navigation toggler: https://getbootstrap.com/docs/4.0/components/navbar/#toggler

[2017-11-15 18:05] sepowitz opened #174 "Mobile Chrome/Safari autofill"
I realize this is a larger issue within the frontend community regarding how to handle browser autofill, but I was wondering if anyone has come up with a good way to handle it with redux-form.

[2017-11-15 18:51] joepuzzo commented on #169
This is now supported in the latest version!

[2017-11-15 18:51] #169 closed

[2017-11-15 18:52] joepuzzo commented on #173
Yeah i am aware of this.. was low priority because i figured most devs dont look at code documentation on mobile.. that being said i def want to fix this eventually.

[2017-11-15 18:55] joepuzzo commented on #174
Could you provide more context?  My understanding is that browser autofill occurs when the browser, for example, sees a text input with `type=password` and tires to suggest your password. I don't think that this has anything to dow with the way `react-form` is implemented.

[2017-11-15 20:31] joepuzzo commented on #171
Hmm that might be true... i will need to check that next chance i get

[2017-11-15 20:38] #147 closed

[2017-11-16 07:56] jiangweiliu-aa opened #175 "Possibility of Supporting setTouchedError?"
I refer to https://github.com/react-tools/react-form/issues/100.
The solution for it is using `FormField` to combine logic for showing error.

In our case, that we have so many places to wrap field to a FormField, because of using `FormField`. That is so expensive.

Besides, `setTouchedError` is really a good and strong required interface. Every time, when we create a form, showing error without b

[2017-11-16 08:23] jiangweiliu-aa commented on #171
@joepuzzo Run `onSubmitFailure` after dispatch submit, Does this work?

[2017-11-16 10:38] SBoudrias commented on #100
Hey guys, I've had some time to play with the new custom-input, and I don't think this match our use case.

The issue is custom inputs also always returns a value (a react component). I was initially hoping the custom components could returns null, but because of the dependency on `context`, we need to create an component instance; so the error is still always truthy.

What I need is a way to know

[2017-11-16 12:21] joepuzzo commented on #175
Create a PR lol. And it loons like you want getTouchedError.. not setTouchedError.

[2017-11-16 12:26] joepuzzo commented on #175
And also saying ‘if( error && tocued )’ does not seen like a waste of devs time... i have that tiny if statement in my custom inputs to only show error after the field as been touched. In fact there is actually one other thing that i have ‘if( error && value )’ that will make it so errors only show if you have interacted with field.

[2017-11-16 12:30] joepuzzo commented on #100
Why not just display error under this case ‘if( getTouched( field ) && getError( field )’

[2017-11-16 12:34] joepuzzo commented on #100
In fact, I do this in all of my custom inputs AND I also have this check as well for another use case `if( getTouched( field ) && getValue( field )`. << that will only show error if user interacts with field.

[2017-11-16 13:30] SBoudrias commented on #100
This just feel like a common enough use case that could be solved in react-form rather than everyone having to write the logic (+ unit tests) every time.

[2017-11-16 15:14] LyhjeHylje opened #176 "How to setValue in array of NestedForms"
I can't figure out how to call setValue from inside of array of nested forms
I have tried:
setValue( "things[3].someproperty", somevalue )
setValue( "things.[3].someproperty", somevalue )
setValue( ["things", 3, "someproperty"], somevalue )
setValue( somevalue )
and all kind of variations of above. I tried to debug into setValue itself to see how it operates but that does not work for some reason.

[2017-11-16 18:49] tannerlinsley commented on #175
I don't think this is necessary.  You could easily implement your own helper and use it wherever you would reference `..., getError, getTouched, ...` from the formApi.  `react-form`'s goal is not to cover every edge case or situation, but instead supply a reliable and flexible api to achieve solutions for said edge cases.

[2017-11-16 20:45] joepuzzo commented on #175
I agree with @tannerlinsley .. if we started adding a helper getter for every permutation, things would get crazy. things like `getErrorTouchedValue` haha

[2017-11-16 20:48] joepuzzo commented on #176
You need to call set values on the nested form... the second you use a nested form you have a separate instance of a formApi that is scoped to that nested form. This is very powerful for many reasons but it does prevent your use case. If you really want to do this, i would not use a nested form.

[2017-11-16 20:52] joepuzzo commented on #175
Closing as we don't want to implement permutations of getters in the lib.

[2017-11-16 20:52] #175 closed

[2017-11-16 22:08] LyhjeHylje commented on #176
Sorry, I should have been more specific: I have array of items that are shown in nested form, item properties are shown by a custom component. In that custom component's onChange method I'd have to somehow set the value.

I first tried just "setValue(newValue)" but that messed the item's values all wrong.

I am also little bit unsure if I should but my array of items inside nestedform or render an

[2017-11-16 22:59] joepuzzo commented on #176
Can i see the source for ur custom input? And i typically use nested forms when i want to encapsulate validation and functionality. If you dont have that need then u dont need nested forms.

[2017-11-16 23:01] joepuzzo commented on #100
Agreed but you really only have ti write one function and one test. It would start to get messy if react form had a function for every combination of getters. I get that u are asking for only one. But one simple helper method written once would solve your issue

[2017-11-16 23:02] joepuzzo commented on #100
That being said i am working on an update that willl include what i call, styled inputs, that will apply classes to he inputs and have props for things like this.

[2017-11-17 12:50] LyhjeHylje commented on #176
With fresh brain and lot of testing I finally got it working, although I now have problems with removing values from array.

Only the last item can be actually removed and when I try to submit form after removing, there appears an extra property in the values:
E.g after removing last item values is { myItems:[...], "item,1": null}

I realise the remove-problem might be because I have knead my code

[2017-11-17 15:20] finppp opened #177 "Is there a way to get all form values, even if they haven't been changed."
When I get all the values from a form even if they haven't been changed?

e.g. using the example found [here](https://react-form.js.org/#/basic-form) (the basic form)

When the user clicks submit without changing any of the fields, the `Values:` returns an empty object.
Is it possible to get each value even if it is an empty string, or a false checkbox?

Thanks,
Fin

[2017-11-17 21:51] joepuzzo commented on #177
By default the values is empty until you interact with field.. if you want to set fields to things like empty strings `''` or an unchecked checkbox then use the `defaultValues` to initialize them.

[2017-11-18 00:49] joepuzzo commented on #176
Hmm yeah im not sure It works in the basic case so i think your guess is correct about having a complex use case... I would try breaking the problem down smaller to determine whats going on

[2017-11-18 09:30] finppp commented on #177
Are there any examples of this being done? I couldn't find any in the docs.

Thanks

[2017-11-18 13:49] joepuzzo commented on #177
The docs describe how to use it in the intro section under form props

[2017-11-19 16:20] casperOne opened #180 "subString not defined when using FormField"
Version:  2.12.0

https://github.com/react-tools/react-form/blob/50dfbf0a0f74c3627dca7918838f72d4a1cf22f8/src/redux/utils.js#L37

I believe this is a typo when using `FormField`; it is trying to get the `substring` of a string, but uses `subString` which causes an exception to be thrown when using `FormField`.

[2017-11-19 22:03] joepuzzo commented on #180
Woops.. fixed this in 2.12.1

[2017-11-19 22:03] #180 closed

[2017-11-19 22:04] joepuzzo commented on #177
Closing this as the solution described above will allow you to pre-fill the values.

[2017-11-19 22:04] #177 closed

[2017-11-19 22:05] joepuzzo commented on #176
Closing this as its not an issue with the lib. For further discussion please go on https://react-tools.slack.com/messages/C3TM660JV/

[2017-11-19 22:05] #176 closed

[2017-11-19 22:06] joepuzzo commented on #174
Any updates on this? i will be closing if there is no further discussion to be had.

[2017-11-20 10:39] finppp commented on #177
Where does this `defaultValues` object go?

[2017-11-20 10:42] finppp commented on #177
Got it working. Thanks!

I was confused about where to put the `defaultValues` object

[2017-11-20 11:54] joepuzzo commented on #177
Oh haha thats fine.. the section in the docs labeled “Form Props” shows all props that you can put on the Form component

[2017-11-20 17:01] sepowitz commented on #174
Feel free to close this out. I found a workaround.

[2017-11-20 18:36] tiffwu opened #181 "Better documentation, please!"
Trying to get started with react-form and I find the documentation lacking. It'd be great to get at least the high level component API documented -- for example, what is a RadioGroup? Why would I use it instead of (or in addition to) Radio?

[2017-11-20 20:51] joepuzzo commented on #181
Ha yeah i know there are a few things that i need to still document better. Radios are typically generally not used independently. They exist as a group where you select one of them. So the radio group is the wrapper around radios that provides the group to each radio. There are technical reason fo implementing it this way. But again i agree i need to talk about it in the docs.

[2017-11-20 21:18] tiffwu commented on #103
Could you add an example in the docs for how to wrap react-select? Currently struggling with this right now.

[2017-11-21 00:48] joepuzzo commented on #174
Cool thanks.

[2017-11-21 00:48] #174 closed

[2017-11-22 12:08] dzienisz commented on #181
You should also add "password" <Text> field into documentation.

[2017-11-22 12:09] dzienisz commented on #173
Do you have some TODO list what to change in DOCS? It would be easier for community to fix it.

[2017-11-22 12:10] joepuzzo commented on #181
Just pass in type=password to the Text input

[2017-11-22 12:20] joepuzzo commented on #173
Ha yeah i have a bunch of things in mind. Need to take the time to sit down and bang them out.. that being said i could create a list under the better docs issue

[2017-11-22 12:27] SebastiaanNijland commented on #173
Or create separate issues for various list items :) makes it easier to pick up

[2017-11-22 12:32] dzienisz commented on #173
Don't put too much on your shoulder> thrust me I've been there :) it's better to delegate tasks if you don't have time to do something by yourself.

[2017-11-22 12:33] joepuzzo commented on #173
Haha ok yeah i will start creating some issues then

[2017-11-23 08:13] LyhjeHylje commented on #176
Finally got it working by getting rid of nestedforms. Here's working example in case someone else wants to do lists with custom components.
https://codesandbox.io/s/1vxl4pyvml

[2017-11-23 23:52] joelmenezes opened #182 "Documentation and examples on how to send the form data to the backend!"
All the documentation currently focuses on what to do with the form. There is nothing about how to POST requests to the back-end.

[2017-11-24 10:54] joepuzzo commented on #182
This is because the documentation is for the form lib.. and not for how to make REST calls. That is outside the scope of the lib.

[2017-11-26 12:36] #182 closed

[2017-11-26 20:03] wilomgfx commented on #181
@joepuzzo  yes but that should be said in the docs haha. <<Text input >> does not make explicit that we can pass the type attribute.

[2017-11-26 20:06] wilomgfx commented on #181
@joepuzzo Also how do we get out Radio buttons to be checked ? Can't seem to figure it out when using RadioGroup

[2017-11-27 04:42] SBoudrias opened #183 "Array fields aren't updated in a consistent manner"
Hey, that's a bug I found using the latest major version and that wasn't an issue in the previous one.

Basically, when using `setValue()` on an Array type field, it won't update in a consistent manner depending on how you access the field:

[code]

This behavior isn't super obvious, and should likely be modified to prevent confusion.

[2017-11-27 04:43] SBoudrias commented on #171
Any update on this bug?

[2017-11-27 12:40] Nosenation opened #184 "How pass cheched prop to checkbox component?"
Hi
I want to have checkbox inside my form to be checked by default. Tried to pass checked prop to it but it doesn't work. Any solution for this?

[2017-11-27 13:57] danbopes opened #185 "App breaks with "Uncaught TypeError: n is not a function" when compiled with uglifyJS"
Trying to track down an issue, and I've tracked it down to react-form. When I attempt to include react-form and run UglifyJS with mangle = true, the entire build breaks.

Reproduce via repository here: https://github.com/danbopes/webpack-uglify-react-form-issue

Compile with:
$ yarn
$ webpack -p

Open public/index.html in your browser (No need to run any webserver). Simply set `mangle: false` in w

[2017-11-27 14:37] danbopes commented on #184
Set the field to true in the defaultValues prop of `<Form />`. See this example here: https://codesandbox.io/s/rj8jq4jp4n

[2017-11-27 15:38] joepuzzo commented on #183
This was a breaking change that is staing in v2. There are many people that requested for this as a feature because some users have unique ids that happen to be numbers, and in v1 we could not support that. There is a very simple work around for this using the correct syntax and all that info can be found uner the “fieldsyntax” tab in the latest docs.

[2017-11-27 15:38] #183 closed

[2017-11-27 15:42] joepuzzo commented on #185
Hmm this sounds like an issue with your setup. Not with react form.

[2017-11-27 15:43] joepuzzo commented on #184
^^^^😁

[2017-11-27 18:16] danbopes commented on #185
This is likely caused by using functions that refer to constructor names, where mangling isn't possible. This is either an intended issue (Which I would recommend we modify/workaround to solve this issue), a bug in react-form's code, or an uglify-js issue. Since this issue has only cropped up after adding react-form, I thought the recommended route should be to post here first.

[2017-11-28 00:29] darrenbarklie commented on #182
I came here looking for the same thing, as I am continuing to learn React.  I can appreciate limiting your documentation scope, but submitting data to an API must be considered at least worthy of at least a single sample.

Could someone support with a sample of how to send data collected by `formApi.submitForm` to `action="api/contact" method="post"`?

My newbie understanding is that adding the ac

[2017-11-28 08:53] Nosenation commented on #184
Ok, thx for help. Still couldn't find it in documentation.

[2017-11-28 11:45] slaby93 opened #186 "Select doesn't work on IE11"
When I use ```Select``` element on IE11 I receive:
```Object doesn't support property or method 'findIndex'```
I used IE11 from browserstack ( latest ).
In IE11 there is no https://github.com/paulmillr/Array.prototype.findIndex

[2017-11-28 15:34] joepuzzo commented on #184
Its in the docs under the form props

[2017-11-29 12:13] SebastiaanNijland commented on #185
We ran into this issue as well. In our setup, we had a conflict between uglify-js, webpacks -p flag and react-form. It worked fine until updating to react-form 2.x.x

[2017-11-29 15:52] dzienisz opened #187 "Masking input"
Is there any way to make mask on input?

Like phone numer mask: 123 123 123

[2017-11-29 16:18] joepuzzo commented on #187
Try using prevalidate

[2017-11-29 16:18] joepuzzo commented on #186
I will look at this when i get a chance.

[2017-11-29 16:20] joepuzzo commented on #185
Can you explain functions that refer to constructor names @danbopes

[2017-11-29 16:23] danbopes commented on #185
I'll dig into this more tonight, and I'll follow back to see if I can diagnose/solve the issue.

[2017-11-30 11:04] dzienisz commented on #187
hmm do you plan to implement this into react-form?

[2017-11-30 12:27] LyhjeHylje opened #188 "Formation of validateError return object when validating arrays?"
I need to validate
[code]
I'd expect that I should return object like this:
[code]
But that does not work.
I can validate non-array fields so otherwise my code should be ok.
Do I really have to set all the passing fields to "null" like in documentation? When validating simple fields I only set the failing field and that does work.

[2017-11-30 18:29] danbopes commented on #185
After further digging, it appears it's dying on one of the require() lines. `require("babel-runtime/helpers/extends")` to be specific. It may have something to do with webpack-node-externals, and I'll be looking more into this today.

[2017-11-30 19:07] danbopes opened #189 "Async validation doesn't work for arrays"
See https://codesandbox.io/s/z2mj59wkl

Having fields:
[code]

And asyncValidators:

[code]

Expected result: I should see `checking` at some point in the console.
Actual result: No async validation is run.

[2017-11-30 22:13] joepuzzo commented on #187
Implement what exactly? A phone field ?

[2017-11-30 22:15] joepuzzo commented on #188
As it stands if you have set an error it sticks around until you override it with null

[2017-11-30 22:16] joepuzzo commented on #189
Async validation is difficult and as it is written now you can only perform an async validation on an array. Not each field within an array. I need to work to fix this but have not had the time

[2017-12-01 06:46] LyhjeHylje commented on #188
Currently I cannot even set an error on item that is inside an array. I have to validate a lot of similar items with same fields so I suspect that the error object also has to be an array and the array index should correspond to the actual items?

Setting null to clear sounds reasonable though.

[2017-12-01 20:05] joepuzzo commented on #188
Hmm i set errors on things in array all the time. Could you show me your validator

[2017-12-01 20:08] joepuzzo commented on #185
Any updates on this. Sorry i have been at a conference all week and have not had a chance to dig into many issues this week.

[2017-12-01 20:10] danbopes commented on #185
Right now, waiting to hear back from the guys from uglifyjs-webpack-plugin. It appears as it may be an uglifyjs issue.

[2017-12-01 20:11] joepuzzo commented on #171
So sumitting a form ( in general not in react form ) will cause all fields to blur. I leverage this because if you click on a submit button it will trigger all the fields on blurs which will then set the touched. It seems that this occurs after the validation failure happens. Im open to ideas but i dont know how to get around this atm

[2017-12-01 20:12] joepuzzo commented on #185
Ok cool. Thanks for looking into this.  And keep me posted 😁

[2017-12-01 20:49] mrmedina87 commented on #186
Hello! @joepuzzo Did you start with some kind of fix for this issue??

Thanks!

[2017-12-02 06:33] joepuzzo commented on #186
I will get to it soon. I have been at conference all week anc have not had a chance to get to it.

[2017-12-02 22:40] mnieber opened #190 "How to detect in validateError that the form is about to be submitted?"
I would like to use this information to show certain field errors only when submitting the form (not while the user is still filling out the form). I'm using version 2.12.2.

[2017-12-04 02:23] joepuzzo commented on #190
Use the submits value in the form api

[2017-12-04 08:25] mnieber commented on #190
Thanks for the suggestion, I overlooked this property.

I'm now using `getApi` to obtain a reference to `formApi`, so I can call `formApi.getFormState().submits` inside `validateError`. However, it seems this counter is only increased after the form was really submitted, so it can't be used to detect in `validateError` that the form is about to be submitted.

[2017-12-04 11:48] joepuzzo commented on #190
So “submitted” is set to true when form is successfully submitted. “Submits” is incrimented when form attempts to submit. Even when validation fails so u should be all set

[2017-12-04 20:50] danbopes opened #191 "submitForm never passes event to this.finishSubmission, so event in onSubmit is undefined."
See: https://github.com/react-tools/react-form/blob/master/src/components/ReduxForm.js#L360

`this.finishSubmission()` should be `this.finishSubmission(e)`.

[2017-12-04 22:34] fsolar opened #192 "Add a group of five dynamic fields on button click"
Hi, im working with react-form and it's all ok but i need to dynamicly add a group of five inputs on every "Add" button click, same code as the examples work well with one field but i can't figure it out how to add dynamicly more than one input field.

[2017-12-05 01:22] kzc commented on #185
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/179#issuecomment-349136025

[2017-12-05 01:38] #185 closed

[2017-12-05 14:06] danbopes commented on #189
Since this is a pretty big blocker in my project, can I recommend the following change to the errorValidator?

It would be nice if you would check the result of validateError/validateWarning/validateSuccess to see if it's a promiselike function, and if so, just treat the entire thing as an async validation. See [is-promise-like](https://www.npmjs.com/package/is-promise-like). If you're open to it,

[2017-12-05 15:49] DMP2-Tech opened #193 "InitialValues after call Api"
Hi,
I want to update the initial values after calling my API.
My API is called with redux and the data is put in a reducers which is accessible via a props.

`let values = this.props.data_forms.data_form[0]`

To update I tried with `defaultValues` with the update of the `props` but it does not work.

I saw  to use `setAllValues` but i can't call `getApi` when the API is finished.

Can you help me

[2017-12-06 07:49] akshayKrSingh commented on #190
how can I use `getApi` inside validateError function ?

[2017-12-06 14:50] aivils opened #195 "Skip validation on addValue"
In your examples you have Dynamic forms.
Is very nice and smart each sibling validate text presence on form submit.
It is ugly to show error message on adding sibling.
Nice to have another argument of addValue() allow to skip validation.

[2017-12-06 14:57] aivils commented on #193
In my case I later use stored formApi

[code]

Server respond code
[code]

[2017-12-06 15:08] aivils commented on #192
Pass a object as value

[code]

In the time slot component
[code]

Above works for me. <NestedForm> never fill initial values of siblings.

[2017-12-06 15:40] dattusdwaltz opened #196 "Form field render prop"
I've been trying to get my app updated to the latest version of React Form (I'm on 1.3.0 at the moment), but it would appear that using a render prop for custom form fields has regressed since the previous version, making updating the package require rewriting my custom inputs. Are there plans to support render props and functions as children again?

[2017-12-06 17:07] DMP2-Tech commented on #193
Thank's but i have a warning message.

`3webpack-internal:///145:33 Warning: Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to componentWillMount.`

[2017-12-06 20:07] joepuzzo commented on #192
Add a nested form dynamically and the nested form can have multiple fields

[2017-12-07 00:59] joepuzzo commented on #196
Are you referring to creating custom inputs using `FormField(YourComp)` instead of passing in a child func? If not could you elaborate with maybe a small example. I don't remember the old lib supporting a render prop.

[2017-12-07 01:00] joepuzzo commented on #195
Hmm are you saying the form validates when you call addValue? and you would like it not to?

[2017-12-07 01:03] joepuzzo commented on #193
Yeah you actually want to use the `getApi` prop on form. This is similar to how you use `ref` to get a reference to a component. Let me know if this helps.

[2017-12-07 01:04] joepuzzo commented on #193
[code]

[2017-12-07 01:10] joepuzzo commented on #191
Good Catch! i will put out a patch right away.

[2017-12-07 01:22] joepuzzo commented on #191
Fixed in latest release!

[2017-12-07 01:22] #191 closed

[2017-12-07 01:22] joepuzzo commented on #190
Any updates on this?

[2017-12-07 01:26] joepuzzo commented on #189
Async validation is very complex and trust me will probs not be as simple as you think lol. I def want to keep the synchronous and async validators separate as it drastically reduces complexity. That being said you are more then welcome to dive into the code. I am planning on eventually updating this to work however. In other words @tannerlinsley and I have discussed updating async validator to su

[2017-12-07 01:28] joepuzzo commented on #188
And after rereading your last comment yes you would need an array that would look like the following for example:
[code]

[2017-12-07 01:29] joepuzzo commented on #187
Any updates on this.. or can I close?

[2017-12-07 06:22] aivils commented on #195
Yep. I already fixed it. This is my very first reactjs code I am not sure I can create a pull request.
Cause:
https://github.com/react-tools/react-form/blob/master/src/components/ReduxForm.js#L273

Works for me:
[code]

[2017-12-07 07:04] mnieber commented on #190
Sorry, for me it did not work like you described: formApi.getFormState().submits is only increased when `onSubmit` was actually called, so checking this value in validateError (which of course runs before onSubmit) does not help. I can try this experiment again, but this is what I found the last time.

[2017-12-07 10:17] joepuzzo commented on #190
Ahh i see now what u need. Hmmm. So u almost want a submitting value on the form api

[2017-12-07 11:42] mnieber commented on #190
Yes, I guess that's what I need :-)

On Thu, Dec 7, 2017 at 11:17 AM, joepuzzo <notifications@github.com> wrote:

[2017-12-07 13:41] pseudoramble opened #197 "Prevent Async Validators from Executing when Synchronous Validations have failed"
I have a form that contains a synchronous validator and an async validator. The asynchronous validator is executed even when the synchronous validator has failed, which occurs when the form is submitted.

This works OK and ensures the form is invalid and can't be submitted. However it has a few issues including adding extra network traffic that isn't needed yet and can cause different error messag

[2017-12-07 16:48] joepuzzo commented on #197
Fixed!

[2017-12-07 16:48] #197 closed

[2017-12-07 17:54] zalishchuk opened #198 "TypeError: (0 , N.default) is not a function"
My code:
[code]

The error that I'm getting:
[code]

[code]

When I add `dontValidateOnMount` prop to `Form` component, it doesn't throw any errors on mount, but if i try to input some text it falls with:

[code]

**Versions:**
- react-form - `2.13.0`
- react - `16.2.0`
- react-dom - `16.2.0`

[2017-12-07 18:01] aivils commented on #195
I shared the app
https://codesandbox.io/s/5x02k12v4n

If pressed "+ Add another time slot" then appears the error messages.
I liked to add without error messages.

[2017-12-07 18:32] tiffwu opened #199 "Perform non-async validation on touched"
I see that currently setTouched triggers only async validation. Is there any way to also have setTouched trigger non-async validation?

[2017-12-07 19:34] tiffwu commented on #199
Actually, I'm going to just pop my synchronous validators into asyncValidators

[2017-12-07 20:00] zalishchuk commented on #198
Why `react-form` is bundling in so weird way, all dependencies are excluded from `dist/index.js` including `babel-runtime` (required by `babel-plugin-transform-runtime`). So output dist file is not fully prepared for using and does not have development version.

[2017-12-07 22:46] zalishchuk commented on #198
So the problem is packages like `babel-runtime` or any used from `node_modules` folder are not being bundled into `dist/index.js` file, because of using `webpack-node-externals` [here](https://github.com/react-tools/react-form/blob/master/config/webpack/webpack.dist.config.js#L9). I don't think it's a good practice, so we should bundle all production dependencies into `dist/index.js` file.

My per

[2017-12-08 02:24] joepuzzo commented on #190
I think i can add this

[2017-12-08 02:39] reggieofarrell opened #201 "Access touched in validateError?"
As soon as I type in any of the fields the entire form tries to validate.  Is that intended?  I'd like for a field to only validate once it has been touched by I can't find a way to access the touched property for a form field inside of the validateError function.  If I'm completely missing something please let me know.

[2017-12-08 02:46] joepuzzo commented on #201
Use the combination of the touched and errors to get what you need.. thats how i do it for all mu projets

[2017-12-08 02:57] reggieofarrell commented on #201
Can you give an example?

[2017-12-08 11:14] #187 closed

[2017-12-08 11:19] joepuzzo commented on #198
Hmm you seem to be the only person with this issue. This makes me think you may have somthing configured strangley. I ignore node modules because you typically dont bundle node modules with your index as its the job of the dependency management system to ensure they are there.

[2017-12-08 11:36] zalishchuk commented on #198
Let me check my configuration files.

[2017-12-08 12:43] joepuzzo commented on #201
So there is no way to prevent the whole form from validating, the validate function is called every time you interact with an input. This was a design decision because more often than not you want/need the whole form to validate. That being said, just because the form does not let you submit because its invalid, does not mean you cant use the errors and touched together to only show to the user th

[2017-12-08 12:46] joepuzzo commented on #196
Yeah just update to the new syntax. It was a design decision when moving to V2. But it really should be a simple change.

[2017-12-08 12:46] joepuzzo commented on #196
See the custom input docs.

[2017-12-08 12:49] joepuzzo commented on #195
Out of curiosity.. it looks like all your other fields that get rendered right away have no errors. That makes me think you passed in `dontValidateOnMount` prop. Am i correct in saying this? if so i think this is a bug that i need to fix.

[2017-12-08 12:52] joepuzzo commented on #193
Any updates on this or can i close. I think what you want is what is described above

[2017-12-08 12:58] joepuzzo commented on #192
Are you all set with this? Have u tried nested forms?

[2017-12-08 13:05] zalishchuk commented on #198
Seems like `babel-runtime/core-js/json/stringify.js` was required and processed by `file-loader` because of the typo in `module.rules` section of my webpack configuration. Missing parentheses made `stringify.js` parsed by `file-loader` because of `gif` part in my regular expression.

[code]

Valid regular expression:
[code]

[2017-12-08 13:05] zalishchuk commented on #198
Seems like `babel-runtime/core-js/json/stringify.js` was required and processed by `file-loader` because of the typo in `module.rules` section of my webpack configuration. Missing parentheses made `stringify.js` parsed by `file-loader` because of `gif` part in my regular expression.

[code]

Valid regular expression:
[code]

[2017-12-08 13:05] #198 closed

[2017-12-08 13:10] aivils commented on #195
Single component `<Form>` is on screen all time. `dontValidateOnMount` not used.
In the middle of deep nested elements I call addValue() added new time slot with blank values according specification. And blank values raise error message. Other slots have values.

This behavior is not a bug. Just in my particular case I will not show error messages on addValue().

Your case is decide react-form lib

[2017-12-08 13:43] joepuzzo commented on #190
Done! This is in the latest version. See docs for details on new submitting value on formApi!

[2017-12-08 13:43] #190 closed

[2017-12-08 13:45] joepuzzo commented on #186
Sorry it has taken so long im going to look into this now!

[2017-12-08 14:09] joepuzzo commented on #186
This works now in the latest version!

[2017-12-08 14:09] #186 closed

[2017-12-08 14:13] joepuzzo commented on #195
I was just thinking that maybe i update so that if you pass in dontValidateOnMount it will also prevent it from validating when a value is added.

[2017-12-08 14:24] aivils commented on #195
I tried `dontValidateOnMount` - this is for `<Form>` . It does not affect any sibling of `<Form>`.

https://github.com/react-tools/react-form/blob/master/src/components/ReduxForm.js#L274
This line calls validate() regardless of any settings from my point of view.

[2017-12-08 14:45] dattusdwaltz commented on #196
Copy, thanks.

[2017-12-08 14:45] #196 closed

[2017-12-09 03:27] ObedAmpah opened #202 "Warning: setState(...): Cannot update during an existing state transition"
Hello,

I receive a `warning` with my custom component, which is an input I need to display a calculated sum.

`Warning: setState(...): Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to `componentWillMount`.
`
I

[2017-12-09 13:43] joepuzzo commented on #202
You should never call set state in a render. It can cause loops and other bad things. You have two issues in your code. 1: you are calling setState in a render. 2: you are calling setValue in a render. Move this logic up and out of the render. If you want to setValues then you should use the getApi or defaultValues props that are provided, see docs for details

[2017-12-09 15:55] reggieofarrell opened #203 "Errors after webpack build"
I'm using webpack on my project and I've been running the dev server up until this morning which has been going just fine.  However, I tried to do a build this morning and the site won't load.  I get the console error...

Uncaught TypeError: n is not a function

When I do a little more inspection it appears to be pointing at react-form and if I uninstall react-form the site loads up fine.  Can you

[2017-12-09 22:40] zalishchuk commented on #203
#198

[2017-12-09 23:43] zalishchuk opened #204 "Async validator does not work after error"
Why async validator stops working after resolving first error?

https://github.com/zalishchuk/react-form-async-validators

Try to type anything into field, it run validator every time, but if you will type `error` (to resolve object with error) it will fail and die then, validator will never run again. Bug or feature and how can I disable this logic?

**Update:** fixed that by adding synchronous v

[2017-12-10 15:17] reggieofarrell commented on #203
For some reason, GitHub stripped that character.  My actual code does look like yours.  Here is what the file actually looks like...

https://repl.it/@reggieofarrell/webpackconfigjs

[2017-12-10 16:13] zalishchuk commented on #204
Since async validations are [running](https://github.com/react-tools/react-form/blob/master/src/components/ReduxForm.js#L203) on `setTouched` event, method should be asynchronous. This feature can be used in custom inputs which have async validations.

[code]

[2017-12-11 12:52] DMP2-Tech commented on #193
Thank's.

[2017-12-11 12:52] #193 closed

[2017-12-11 13:23] joepuzzo commented on #204
Hmm i dont think this is what we want. `setTouched` should only care about one thing. Setting the field to touched. And on change should only care about one thing, did the field change. A side affect, yes is that async validation should get triggered, but that does not change the fact that the field changed.

[2017-12-11 14:04] zalishchuk commented on #204
What do you propose to do? How can we get errors, warnings, successes in fields which have asynchronous validation? My solution does not break anything, just gives the opportunity to wait before validation is complete and get actual information about field.

[2017-12-11 19:08] ObedAmpah commented on #202
@joepuzzo thanks for reaching out!

I know that I can calculate the sum of values and then pass it to my custom input.

Can I, then,  pass that value into `getValue()` and have it taken up by the example get-set logic in the custom input example?

I noticed I can't get an `onChange={(e) => { this.handleChange(e) }}` event to trigger with the value updating.

Please excuse any no0b-ness to my quest

[2017-12-12 04:25] joepuzzo commented on #202
My understanding is that you want to set a value in a field dynamically. For example, maybe when you update the number in field A, you want the number in field B to get updated based on that change and some math. To do this you simply need to 1. Hook into the on change event of field A and have that call a funtion that calculates your new value. Then 2. That same function will then call setValue.

[2017-12-12 04:30] joepuzzo commented on #204
you know who is validating and when they are done based on the validating props. That being said maybe i could add callback that gets triggered when async validation is complete.

[2017-12-12 18:22] dikond opened #207 "File objects replaced with empty plain objects on setValue call"
Hi!

I've encountered an odd issue after update from v1.2.8 to v2.9.0. We have a custom FileInput component in our project which we are using for file attachments. Whenever the input is updated we are calling `fieldApi.setValue` with an instance of [File](https://developer.mozilla.org/en-US/docs/Web/API/File) object.
[code]
where argument was like
[code]
But for some reason we get `{}` object in f

[2017-12-12 23:30] ericmcgregor opened #208 "Can you submit a value other than true with checkbox"
Let's say i have an array of items, and i'd like to use a checkbox to push their Id's to the form's values... how would i get the checkbox to add a custom value other than 'true' to the array?  This seems like it'd be a common use case.

[2017-12-13 16:09] cthurston commented on #204
I ran into this as well.  @zalishchuk What did you mean when you said "Update: fixed that by adding synchronous validator."  Does that mean that you just gave up on async and are using synchronous validation or that by adding synchronous validation it somehow forced the async to recheck after error?

[2017-12-13 16:15] zalishchuk commented on #204
@cthurston Async validators are not running until error becomes `null`. So, yes, I just add a simple synchronous validator and that fixed my problem.

[2017-12-13 18:25] joepuzzo commented on #208
use the formApis setValue to set a value. You can save an reference of the formApi by using the getApi prop.

[2017-12-13 18:29] joepuzzo commented on #207
Hmm i have not needed to do this yet but its def somthing others have done.. to my knowledge, other people have base64 encoded the file. That being said... it should be working. All i am doing is taking whatever you pass to value and adding it to an object that will get submitted. Maybe try making a simple codesandbox with your custom input so i can see the issue.

[2017-12-13 18:32] joepuzzo commented on #204
Im still a little confused on the issue. is it that async validation is not running when a syncronous validation has already occurred on that field?

[2017-12-13 18:43] cthurston commented on #204
If async validation produces an error there is no event that will clear it out.

If you edit and blur the field again, it will not re-run the async validation because the error is still there.

By adding a synchronous validation to the field it forces the error to be cleared out onChange.  Therefore the async validation will run again.

[2017-12-13 18:44] zalishchuk commented on #204
https://github.com/react-tools/react-form/blob/master/src/redux/actions.js#L147

[2017-12-13 18:49] joepuzzo commented on #204
A successful validation would clear it out though? would it not?

[2017-12-13 18:54] zalishchuk commented on #204
If async validator produces an error once, field validation will not invoke. Check out my[ test repository](https://github.com/zalishchuk/react-form-async-validators) and after try to add a simple synchronous validator for `name` field.

[2017-12-13 18:55] joepuzzo commented on #204
For example, in docs go to the async section and do the following.
1. Type Joe and tabb out of field, this will trigger async validation and set an error
2. Go back into field and type reject, then tab out again, this will trigger async validation that will throw an exception
3. Go back into field one more time and do step 1 again. This will remove the failure and set the error.

[2017-12-13 18:59] zalishchuk commented on #204
@joepuzzo there is an `errorValidator` that synchronously validates `username` field, if you will remove `validateError` and `validateSuccess` (not necessary) field validation will not work after first error.

[2017-12-13 19:00] joepuzzo commented on #204
Ok let me try this locally

[2017-12-13 19:03] joepuzzo commented on #204
Ohh i see now.. ok i have meeting rn but ima look into this after because im starting to now think this is bug.

[2017-12-13 20:07] joepuzzo commented on #204
Wooooowww i am stupid

[2017-12-13 20:08] joepuzzo commented on #204
Somewhere in my code i was doing the following
[code]
It should have been
[code]

[2017-12-13 20:08] joepuzzo commented on #204
So i was merging errors and async errors internally.. they should only be merged for the user.

[2017-12-13 20:12] joepuzzo commented on #204
Ok this is fixed in 2.14.3

[2017-12-13 20:12] #204 closed

[2017-12-13 20:14] joepuzzo commented on #202
Can we close this ?

[2017-12-13 20:44] ObedAmpah commented on #202
Yes! I was able to get the value set and save it to the values object. My
concern was getting the value into the nested object I created using the
field syntax for my dynamically generated form inputs.

Field Syntax was great for creating groupings for columns in my table. I
may resort to passing a UID down the columns of my table to reduce the
values for my totals now so the values object isn't n

[2017-12-13 21:46] #202 closed

[2017-12-14 14:26] LyhjeHylje commented on #188
Now I feel stupid; I had made a custom component but not implemented the "show error message" on that so of course I saw nothing. :flushed:
Sorry for taking your time

[2017-12-14 14:26] #188 closed

[2017-12-14 23:09] awrenn49 opened #210 "Form Validation on Key Press"
Is it supposed to be calling the ValidateError function every time a key is pressed? I am using your exact code from the demo. If so, how do I prevent this happening until submit? Thanks!

`    return(
      <Form
        validateSuccess={successValidator}
        validateError={errorValidator}
        dontValidateOnMount={true}

        { formApi => (
          <form onSubmit={formApi.submitForm}

[2017-12-15 13:29] aivils commented on #195
Still not resolved.
I created another code sample.
https://codesandbox.io/s/208129z1vj

[2017-12-15 15:07] captDaylight commented on #181
I see a update I want to make on the documentation, where is the repo?

[2017-12-17 05:56] tiffwu opened #211 "Allow numbers as valid values for radio and checkbox inputs"
Here: https://github.com/react-tools/react-form/blob/master/src/components/form-fields/Radio.js#L49

Is there a reason why only string values are permitted?

[2017-12-17 06:03] tiffwu commented on #199
Alright, this is still an issue. I can't use async validators to validate my form state based on multiple fields (e.g. require billing address only if "Separate shipping and billing address" is checked). Is there any other way to trigger validations after each field is setTouched?

[2017-12-18 01:01] joepuzzo commented on #181
Its under /dev.. eventually need to reorganize the dirs

[2017-12-18 01:03] joepuzzo commented on #199
Ahh im pretty sure it validates on set tocued

[2017-12-18 01:05] joepuzzo commented on #199
Hmm i just tool a look. It does when you set value i.e touch a field.. maybe i will update but i have to think if this is a breaking change

[2017-12-18 17:24] alexbouchardd opened #212 "Validate errors only when submitting or touched"
Hello!
I've ran into the issue where all my fields show error after the user inputs anything in the first one.

I've read this issue https://github.com/react-tools/react-form/issues/190 but I find it quite odd and a burden to implement in each of my forms. I was thinking that support for validating form fields only when touched or on submit should be bake in as in seems like a very common approach

[2017-12-18 17:26] alexbouchardd commented on #212
After further reading I've seen multiple other issues centered around this topic. I understand the argument for validating the whole form on input for some use cases, therefore such behavior could maybe sit behind a flag similarly to `dontValidateOnMount`

[2017-12-19 01:17] joepuzzo commented on #212
Just use touched and errors to get what you need

[2017-12-19 03:17] tiffwu commented on #199
No worries, I'll survive without it.

[2017-12-20 13:27] joepuzzo commented on #210
It does. I remember having an issue in the past with not validating but i think since i have refactored to use redux i may be able to add a flag to enable this.

[2017-12-20 14:10] joepuzzo commented on #199
I think im going to add this as i don't think it will be a breaking change. it will simply call sync validation one extra time.

[2017-12-20 14:13] joepuzzo commented on #195
Working on this now

[2017-12-20 15:11] joepuzzo commented on #195
Should be fixed now

[2017-12-20 15:11] #195 closed

[2017-12-20 15:12] joepuzzo commented on #212
I just added a prop for only validating when submitting. Still thinking about the touched one.

[2017-12-20 15:13] joepuzzo commented on #210
Just added a prop for this.. see the docs and pull the latest version :) its `validateOnSubmit`

[2017-12-20 15:13] #210 closed

[2017-12-20 15:14] joepuzzo commented on #201
@reggieofarrell  Updates on this? Can i close? BTW i added a prop to only validate on submit so this may help here.

[2017-12-20 15:39] mihaiblaga89 commented on #212
Please add the ```touched``` as well. As far as I remember that's the way v1 worked. Also, it's hard to do validations with fields marked as required. It will trigger the same bug that's described in the first post.

Right now i'm iterating over values from submitError and validating them one by one(using validate.js). The problem is I can't make them "required" because all of them will be trigger

[2017-12-20 15:51] joepuzzo commented on #212
Im a little confused by your last paragraph above... can you elaborate? you say "Fill first, you get {name: '...'} in values, fill the second, you'll get {name: '...', user: '...'}. But as soon as you click submit, you get all of them, even if they are not filled {name: '...', user: '...', pass: null}." are the first two things in that sentence are referring to the values and the last the errors?

[2017-12-20 16:00] alexbouchardd commented on #212
Thanks @joepuzzo appreciated!

[2017-12-20 16:17] reggieofarrell commented on #201
Thanks for followIng up. I ended up using Redux on this project so I decided to go with Redux Form.

[2017-12-20 17:12] mihaiblaga89 commented on #212
@joepuzzo I'm talking about the values object from the submitError function

[2017-12-20 17:24] mihaiblaga89 commented on #212
@joepuzzo I mean, for me it's pretty logic that "submitError" function that handles the validation, should know about not filled values. Coming back to my example from above, if I refresh the page and just click submit without filling anything, I get values = {} in submitError. How do you suggest I handle validations in this case?

[2017-12-21 01:50] tiffwu opened #213 "Include non-minified source in npm package"
Not sure exactly what needs to be done here, but I'd love to see something more useful than this:
<img width="1521" alt="screen shot 2017-12-20 at 5 49 55 pm" src="https://user-images.githubusercontent.com/11621425/34236854-5455a1dc-e5ae-11e7-92b7-643e73271eb4.png">

[2017-12-21 04:22] charlieclark opened #214 "preSubmit on nested forms"
Awesome work on this lib! So far it's been very ease to use and effective.

I tried adding using preSubmit on a NestedForm and it didn't work. This would be a great feature to have as it would allow further modularization of forms.

[2017-12-21 11:22] joepuzzo commented on #213
Why not read the source on github ??

[2017-12-21 15:59] tiffwu commented on #213
I do. But the source doesn't help me when I'm trying to figure out which component threw an error and all I see is 't' and 'r' in the debugger.

[2017-12-21 16:42] joepuzzo commented on #213
Yeah this is just an unfortunate side affect of minification. I wont be including the non minified version because it makes the package bigger. If your really need to play with the source code clone the repo and npm link.

[2017-12-21 16:43] joepuzzo commented on #214
hmm i will take a look when i get chance.. may have forgotten to add somthing.

[2017-12-21 18:14] #201 closed

[2017-12-21 18:15] joepuzzo commented on #213
Closing this as its not an issue with the lib.

[2017-12-21 18:15] #213 closed

[2017-12-21 18:15] joepuzzo commented on #203
@reggieofarrell can i close this? It is not an issue with the lib.

[2017-12-21 18:16] joepuzzo commented on #207
@dikond Status on this?

[2017-12-21 18:17] joepuzzo commented on #199
This is fixed.

[2017-12-21 18:17] #199 closed

[2017-12-21 18:17] joepuzzo commented on #192
Closing this as its been a while without any updates

[2017-12-21 18:17] #192 closed

[2017-12-21 18:18] joepuzzo commented on #208
@ericmcgregor can i close?

[2017-12-22 11:55] dikond commented on #207
@joepuzzo Hello! I've tried to implement it on https://codesandbox.io, but it seems sandbox doesn't support File API and replaces files with its own stubs. Here is a link to this sandbox: https://codesandbox.io/s/43k62q2kw9
You can check the event target in console log once you attach a file via button.

I think codepen may support File better, but my experience with it was kinda frustrating.

[2017-12-27 12:24] mulmulovich opened #216 "getting form validation state of all fields in order to enable/disable button"
Hi,

i'm trying to change the button state according to the form validation state but i could not find a way to do it using FormApi. or FormState

is it possible to detect when to disable/enable the button according to form validation state?
this is my code for custom form:
[code]

[2017-12-27 12:32] mulmulovich commented on #210
is it possible to add this to the type def?

[2017-12-27 13:47] kpelelis opened #217 "Prepopulate form fields"
Hey all,

I have been trying to use your framework and I wanted to pre populate some fields with arbitary values (e.g. partially update user information in a form). I was going throught both your documentation and the code and I couldn't find a trivial way to do this. Ideally the form could accept a state object that could be passed on either from its parent or from a redux store.

[code]
Where `s

[2017-12-27 19:25] joepuzzo commented on #217
Its in the docs. `setFormState` is what you are looking for

[2017-12-29 14:14] KostasPelelis commented on #217
@joepuzzo the API for this method is not really great. This overrides the whole form state instead of just the initial values

[2018-01-01 23:19] cthurston opened #219 "NestedForm and resetAll() on the parent form."
I'm adding a nested form to my application.  formApi.resetAll() on the parent doesn't reset the child nested forms.

The use case is when you offer a "Save" and a "Save and New" button.  The parent formApi will call resetAll when the user clicks on "Save and New", but not when clicking on "Save".

I tried listening to submitted which is passed down to the fieldApi, but I don't know if the request

[2018-01-02 03:00] cthurston commented on #219
I figured out how to pass the values to the NestedForm.

[code]

However, resetAll() does not cause the NestedForm to redraw.

[2018-01-02 05:11] cthurston commented on #219
Found that I can watch fieldApi.submitted and call formApi.resetAll() on the NestedForm if I set a reference to it.  Seems a bit hacky, but works so closing.

[2018-01-03 09:23] anselmdk opened #220 "Redux as a dependency?"
As [Apollo is moving away from Redux](https://dev-blog.apollodata.com/the-future-of-state-management-dd410864cae2), I'm looking into a React form library that doesn't use Redux. I'm considering this one. There's no mention of Redux, but I can see in `package.json` that Redux is added as a dependency.

Will this library work without Redux?

[2018-01-03 14:38] charlieclark commented on #214
@joepuzzo Any ETA on when you'll be able to take a look at this? This is a pretty major blocker for me in terms of using this lib, and if you think you wont have time to look into it any time soon I may need to look elsewhere.

Thanks!

[2018-01-04 00:05] joepuzzo commented on #220
Redux is used under the hood but it’s completely abstracted away from the end user

[2018-01-04 00:05] #220 closed

[2018-01-04 00:06] joepuzzo commented on #214
Sorry i have been swamped lately.. i will take a look tomorrow.

[2018-01-04 12:40] anaspk opened #221 "removeValue always removes last value when trying to remove a nested form from dynamic field"
Please checkout the following form: https://codesandbox.io/s/y3ym30yzvz

What I am trying to achieve is to have a dynamic array of nested forms. So I tried to combine the [Dynamic forms](https://react-form.js.org/#/dynamic-form) example with the [Array of nested forms](https://react-form.js.org/#/array-nested-forms) example.

Clicking the "Add friend" button works correctly and it adds a new insta

[2018-01-07 00:41] efournival commented on #207
Hi!
I'm getting the same problem. Basically I'm doing this to set the value of the field:
[code]
At this point, if I replace `setValue` by `console.log` I get an object of type `File`, which is as expected.
However, when my form get submitted, instead of getting a `File`, I get an object.
When I give this to `FormData.append` it does not recognize a `File` to be uploaded and my server receive `[ob

[2018-01-07 21:50] joepuzzo commented on #221
You should not use the add remove functionality to add remove nested forms.. its not supported as of now. I would just dynamically add or remove the nested form yourself by rendering or not rendering it within the parent form.

[2018-01-07 21:53] joepuzzo commented on #219
Yeah so currently nested forms pass data back to there parent forms formState but the functions on the nested forms only affect them and not there parents. Eventually we may refactor nested forms to solve many of the issues like the one you have described above but it is going to take a lot of time and rewrite. As it stands, use nested forms and thier functions like resetAll to perform actions on

[2018-01-07 21:54] joepuzzo commented on #217
Are you looking for default values? Because there is a prop for that as well.

[2018-01-07 21:56] joepuzzo commented on #216
Yeah i eventually want to add an invalid attribute but just have not got around to it yet. For now you can set a flag in your validator that toggles the button on or off if any error exists.

[2018-01-07 22:04] anaspk commented on #221
Oh, I see. Is there some technical challenge involved due to which it is not supported yet? I would love to submit a PR adding support for this feature because I think it would be really useful for other users too.

Can you please provide an example of this? May be modify my codesandbox..

Thanks :-)

[2018-01-08 02:28] joepuzzo commented on #221
Stand by I'm working on your sandbox now.

[2018-01-08 13:25] joepuzzo commented on #221
Getting close to solution.. I have updated sandbox here https://codesandbox.io/s/q3xwmryyv4 it works accept for some reason you hav to retype in the field to get the value to show back up so I have to keep playing with the code.

[2018-01-08 13:46] anaspk commented on #221
That is so kind of you joepuzzo, thanks a lot :-) It looks cool.

[2018-01-11 13:52] charlieclark commented on #214
Any luck? Interestingly I noticed that the preValidate hook does work for the NestedForm, although preSubmit doesn't.

[2018-01-11 14:35] z-vr commented on #42
@tannerlinsley  this has stopped working in `v2`, `submitForm` is not a function which I can access after creating a `ref` to the form. Any idea why?

[2018-01-11 19:32] z-vr opened #225 "Add callback for when values have changed rather than formState"
It would be useful to be able to react to events when only value of the fields has changed, and not the whole form, please.

[2018-01-12 16:38] joepuzzo commented on #214
Hey @charlieclark Again very sorry I have still not got to it but I think I know whats going on. I call preValidate in the nested forms when it submits but simply need to also call preSubmit.

[2018-01-12 16:40] joepuzzo commented on #225
you can tie into the onChange event just like in any old input.

[2018-01-15 01:23] ro-savage opened #227 "Unnecessary dependancies"
I was looking at using react-form because of it being light-weight, however I noticed a few dep that I had questions about

`circular-json` is no longer in the code base.

`redux-logger` should only be a dev dependancy. Currently is commented out, but if you want to use it for dev, normal way is something like

[code]

And then in your dev store, you use redux logger, and in the prod store you don

[2018-01-15 20:09] joepuzzo commented on #227
You're right.. i can remove in next release.. will probs leave logger as dev dep :)

[2018-01-15 20:09] joepuzzo commented on #225
Can I close this ?

[2018-01-15 20:29] seniorquico commented on #28
It appears [async submit](https://github.com/react-tools/react-form/pull/226) is now supported, too! (Similar to the proposal found in this issue.)

[2018-01-17 05:48] Jae-Huh commented on #221
@anaspk @joepuzzo

We solved this issue by passing down the removeValue function from the parent to the nested form.
e.g.

*Parent Form*
[code]

*Subform*
[code]

[2018-01-17 05:50] Jae-Huh commented on #221
Although it would be great to have this build into each formApi.removeValues(). Maybe something where if it can't find the field name, it automatically looks at its parent recursively until it finds the correct field.

[2018-01-17 09:11] Jae-Huh commented on #221
Oh. I just realised @anaspk and @joepuzzo were trying to solve a different issue.

The issue with your example was using `i` as a key. If you do this in React, when you remove the mapped vDOM element react will update the wrong DOM elements. (On a side note, would be good to update the docs so it doesn't do this. Because it WILL break for people and have unexpected behaviour.)

e.g. 3 items. key=1

[2018-01-17 10:29] ro-savage opened #230 "FormField and props, why use getters?"
When using the FormField component, we receive a bunch of props that are getters/functions.

`getValue()`, `getTouched()`, `getFieldName()` etc.
https://github.com/react-tools/react-form/blob/9934a62a0cbb355418919bca684fe4b057f11ac0/src/components/FormField.js#L93-L98

Looking are the source, I couldn't see why these couldn't just be the values.

That way in our component we can do `props.value`,

[2018-01-17 11:08] ro-savage opened #231 "Validation of every field runs on every press"
One of the things that may cause slowdowns is that validation runs on every keypress for every field.

As a prototype I made a custom input that receives a validation function, runs it internally on `componentWillReceiveProps` and then uses `setError` to set an error just for that input.

This means validation runs only on the component that is being changed. It should still be very possible to ru

[2018-01-17 11:20] ro-savage commented on #211
I believe in `html` radio buttons and check boxes only accept `string` values (if you use an `int` its converted to a string).

Using React you should actually be able to store an int, or object, or anything else with a radiobox.

However if the radiobox is suppose to behave the same as its html counterpart it should only accept a string.

[2018-01-17 12:39] #225 closed

[2018-01-17 12:42] joepuzzo commented on #230
If I remember correctly the getters have to be passes because the values will be out of date otherwise but i have to go back and look. Not the best answer rn but im like 90% sure there was an issue with doing this.

[2018-01-17 12:55] joepuzzo commented on #231
So i have explored field level validation in the past and it gets messy and also you loose some capabilities. For example in many use cases updating a field, FOR EXAMPLE: a gender field, could result in another field becoming invalid. In these use cases it becomes helpful for everything to validate. Also, there are many lifecycle hooks that occur when you type in a field rn so its not as simple as

[2018-01-17 13:01] joepuzzo commented on #221
@Jae-Huh There are still issues with your sandbox. I would look at this as a guide https://codesandbox.io/s/q3xwmryyv4 . Add three fields and type firstName: foo,  firstName: bar,  firstName: baz. Then remove  firstName: bar field. Notice how it works as expected.

[2018-01-17 13:04] joepuzzo commented on #211
Agree with @ro-savage. In terms of accessibility, its best not to deviate from HTML standards. Closing as I will not be changing this.

[2018-01-17 13:04] #211 closed

[2018-01-17 13:14] joepuzzo commented on #214
I just looked into this and this was on purpose. You should only use preSubmit on the parent most form because the purpose of presubmit is to modify the values before submission of the whole form. At this point the nested forms have already done their part and sent there values up to the parent. unfortunately this would be complex to solve because of the way things were written. I may keep this in

[2018-01-17 13:15] joepuzzo commented on #217
@KostasPelelis updates or can i close?

[2018-01-17 14:44] Jae-Huh commented on #221
@joepuzzo - I really can't decipher what's happening in that first sandbox I posted. Why on earth it creates that extra property when you remove a value.

But here is an updated version of your sandbox that **hopefully** works and doesn't require using state.

https://codesandbox.io/s/jlnm6ryq89

[2018-01-17 23:26] charlieclark commented on #214
@joepuzzo interesting, I guess that makes sense. Is there any chance you could add in some kind of mapping function that would allow mutating data before it gets passed up to the parent form? Right now what I'm thinking of doing is using the `preValidate` hook to perform my transformations, and store the transformed data in a special `final` field and send that data to the server...

[2018-01-18 02:55] ro-savage commented on #231
Having an option to run validation on every field, every time, would allow the majority of users to have the performance increase of field-level validation while still allowing edge cases where needed.

Personally, it makes sense if you have one field that relies on validation from another, to use the onChange event to monitor the change.

Happy to close the issue and I'll investigate further in a

[2018-01-18 02:55] #231 closed

[2018-01-18 03:05] ro-savage commented on #230
@joepuzzo

If the issue is `FormField.js` being out of date because it doesn't re-render on a field change.

Then `FormField.` could become a connected component and receive required fields values straight from redux, rather than relaying on `context` and the connected `Form`.

It might also make the `shouldComponentUpdate` simpler and more accurate.

As far as I can see  the current `fieldApi.get

[2018-01-18 03:05] #230 closed

[2018-01-18 04:09] joepuzzo commented on #221
@Jae-Huh Wow that looks good! You are totally correct it was the key causing the issue all along. I will make a note to update docs.

[2018-01-18 04:11] #203 closed

[2018-01-18 04:51] tannerlinsley commented on #230
Ro, if you’d like to get a peek at some of the new features and changes,
head over to the FAAC branch and look at the changelog. Let me know what
you think!

On Wed, Jan 17, 2018 at 8:05 PM Ro Savage <notifications@github.com> wrote:

[2018-01-18 08:40] ro-savage commented on #230
Change log looks good. I haven't really done much with FAAC, so not on top of the benefits.

Here's some suggestions from out couple days converting over
- [ ] Field level validation
- [ ] Input static values are props rather than getters (getValue(), getFieldName(), etc)
- [ ] Automatically handling of dynamic nested forms deleting fields (Right now we do `this.props.removeValue('tickets', this.p

[2018-01-18 08:47] ro-savage commented on #230
In terms of performance. here is an example between our internal form tool (state managed in React) and react-form.

This is a complex form, its a form, with dynamic subform, that has another dynamic subform. Total inputs on screen is 40, of which 3 have validation. My chrome browser is running 6x slower (in chrome dev tools)

There is 0 lag filling in ours (only lag is actually the gif no the for

[2018-01-18 12:59] mulmulovich opened #232 "is it possible to use third party like bootstrap with react-form?"
Hi, i was able to customize most controls with good result but when it comes to select, it is impossible to style the options. i will need to integrate some library for that but wanted to check before if i can use the api even if i don't use the standard controls?

[2018-01-18 16:08] oas89 commented on #207
This happens because there is some kind of "purification" in reducers, state containing form values is converted to JSON and vice versa (see https://github.com/react-tools/react-form/blob/master/src/redux/ReducerBuilder.js#L62).
`let newValues = JSON.parse(JSON.stringify(state.values));`
As a result form values could be only JSON serializable objects. Is it necessary procedure, could we allow form

[2018-01-18 19:08] tannerlinsley commented on #230
The `FormApi` and `withFormApi` component/HOC will likely help you with complex fields managing more than just their field. It gives you access to the nearest parent form's base api, allowing you all the creative freedom you may need. Is that more in line with what you're thinking?

[2018-01-18 21:49] tannerlinsley commented on #230
Also, let's try and move these ideas into the new "projects" section for the repo

[2018-01-19 04:09] joepuzzo commented on #232
The docs have bootstrap in them. So yes

[2018-01-19 04:09] #232 closed

[2018-01-22 01:33] zalishchuk commented on #227
@ro-savage if you are looking for a lightweight, fast and flexible react form management, you should try [react-final-form](https://github.com/final-form/react-final-form).

[2018-01-22 10:08] z-vr commented on #225
@joepuzzo yep thanks I've figured it out that I have to manually pass `onChange` handler, although this is more work than if we could have an event by the Form -- it's possible.

[2018-01-23 06:37] Luis-Chen opened #233 "defaultValues use this.state.XXX not Working"
#### `this.state.product` get values from api  and  no problem
[code]

#### in `defaultValues`， `model:'adfa'` and `ean: 'asdf'` can set defaultValue
#### but `name:product.name` isn`t working

[code]

[2018-01-23 18:57] joepuzzo commented on #233
Ahh all default values is doing is setting the initial values on the internal state.. so it should be working. I have a feeling something else is going on here.

[2018-01-24 00:52] Luis-Chen commented on #233
Maybe,this problem relation to conponentDidMount()
codesandbox test:

[2018-01-24 07:25] KokoulinM opened #234 "Custom inputs"
warning.js:33 Warning: CustomTextWrapper is changing an uncontrolled input of type undefined to be controlled. Input elements should not switch from uncontrolled to controlled (or vice versa). Decide between using a controlled or uncontrolled input element for the lifetime of the component. More info: https://fb.me/react-controlled-components

How to get rid of the problem?

[2018-01-24 18:12] joepuzzo commented on #234
check out the text input and not the `getValue() || ''`. This is how i got rid of the error because when the form first loads the value is null. This error occurs when the value is null and then becomes not null.

https://github.com/react-tools/react-form/blob/master/src/components/form-fields/Text.js

[2018-01-25 06:57] KokoulinM commented on #234
Thanks, you!

[2018-01-26 00:52] #234 closed

[2018-01-26 05:50] Luis-Chen commented on #233
@joepuzzo so `defaultValues` not support React LifeCycle ? if my initial values need to call form api and setState `defaultValues` cant get value that updated?

[2018-01-26 21:05] MrWhiteNerdy commented on #233
I'm having this exact same issue.

[2018-01-29 01:14] Luis-Chen opened #235 "custom button send the form when onClick() be triggered"
I create a Custom Input  to upload file to firebase,

code

[code]

when I click button to upload file the button also send the form

Gif Demo

![https://media.giphy.com/media/l4pT0qV2legImpLG0/giphy.gif](https://media.giphy.com/media/l4pT0qV2legImpLG0/giphy.gif)

[2018-01-29 10:09] HunorMarton opened #236 "NestedForm is not updating it's child on state or context change"
In the following structure the second console log is not reached on context nor state update:
[code]

I found a fix for it by adding extra parameters to the NestedForm component like below but I don't think it's nice this way.
[code]

The feature I'm trying to achieve this way is async default value for Country field. Is there any better way for that?

[2018-01-29 13:59] joepuzzo commented on #236
We are actively working on a V3 of react-form and are considering drastically simplifying NestedForms. The fix you have is what i have actually done in the past to resolve this. So stand by for V3 and keep what you have for now.

[2018-01-31 17:35] donovanhiland opened #237 "Dynamically updating custom input children"
I'm trying to update the children in a select field based on the value of another field in the form, however, it seems that updates to the component are being blocked. If I do the same thing on a select component not wrapped in `FormField` it works as expected.

Example. `SelectField` is a custom input wrapped in `FormField` and wired up. In this case it's wrapped in a component that takes options

[2018-01-31 17:41] donovanhiland commented on #235
the default type of an html button is `submit` which will submit any form the button is inside. Try setting the `type="button"` on the button

[2018-02-01 02:59] joepuzzo commented on #237
There is an internal optimization that will only rerender if the forms elements update. the workaround for now is to pass the updated prop to the select Field. We are currently working on V3 and it will not do this optimization by default. Stand by for V3

[2018-02-01 04:20] donovanhiland commented on #237
Ok great I'll hang tight. Do you have or could you give an example of the workaround? I don't understand what you mean 😄

[2018-02-01 04:44] donovanhiland commented on #237
Oh I see. FormField is comparing all new props except children. So I just need to pass some other non children prop to the select field 👍

[2018-02-01 13:02] joepuzzo commented on #237
Yup ^^^^ kind of a hack but im working on fixing this. Also a heads up.. stay clear of nested forms if you can.. i am going to update README soon to say this but that is going to be one of the major breaking changes.

[2018-02-03 07:24] PolyPik opened #238 "What happens to a form value when I no longer render its corresponding form control?"
I have a situation where I need to dynamically render certain inputs based on the data that is fetched each time a certain `select` component is changed.

Suppose that the change makes a certain field "not applicable" and is thus removed from rendering, is the value also removed or does it still remain?

One work around I've thought of, in case the value is retained, is to call `setValue('fieldNam

[2018-02-04 12:20] Luis-Chen commented on #233
finally i try  success to use  shouldComponentUpdate(nextProps, nextState)

in my example

`
class ProductForm extends React.Component {
	constructor(props) {
		super(props)
		this.state = {
			product: []
		}
	}
        componentDidMount(){
          axios.get('http://server.url').then(response=>(this.setState(product)))
        }
        shouldComponentUpdate(nextProps, nextState) {
		console.lo

[2018-02-06 07:37] mulmulovich opened #239 "show errors on submit"
Hello,

showing errors on submit failure improve the user experience because he dont need to wonder
what field value is invalid or required

i tried few approaches to achieve this functionality but i couldn't find a way to do it.
am i missing something? can you suggest what is the way to do it?

[2018-02-06 18:39] joepuzzo commented on #239
Can you elaborate? Im not sure i understand what feature you are looking for here

[2018-02-06 18:40] joepuzzo commented on #238
Working on improving this exact thing in V3 which we are working on now! Basically on componentWillUnmount we will take the field out.

[2018-02-06 18:52] joepuzzo opened #240 "React Form 3.0"
Opening issue for questions and info on V3 of react form. Its being actively developed.

[2018-02-07 06:05] warrenmcquinn commented on #240
Looks great, guys! I have some form components that I'm considering porting to `react-form`. Should I be concerned going forward about any major issues porting from V2 to V3.0?

[2018-02-07 14:04] EscoCreeks commented on #240
Will there be any formatting function to give to the fields ? In order to have a nicely rendered input without its core value being changed ?

[2018-02-08 20:00] contentoo-tvdveen opened #241 "file upload possible?"
Hi,

I am quite new to ReactJS and this library, which is great! But i am struggling to add a file upload feature to the form:

[code]

Is there an example or does someone know how to do it?

thanks in advance!

Thijs

[2018-02-09 00:54] ryanmunger opened #242 "New Landing Page Idea"
Hey Guys,

Love the library! Here is a quick idea I threw together for a landing page. Thinking maybe this could link out to your existing documentation? If you guys would like, we can continue to iterate on this idea and I can integrate this/open a pull request.

Let me know what you think :)

http://competent-bell-8315b0.bitballoon.com/

[2018-02-09 17:18] joepuzzo commented on #240
Formatting is on the list of things. you have always been able to achieve this with the `preValidate` function but we might add a format prop to the input @tannerlinsley what do you think of this. I know i already played with this idea before and there is already a hidden format action in the redux actions.

[2018-02-09 17:19] joepuzzo commented on #240
@warrenmcquinn Yes so there will be breaking changes mostly around nested forms and validation.
You can start to port over but i would give this advice. 1. Try to NOT use nested forms 2. Prepare for the single validator that gets passed to the `Form` to turn into validators on a per field basis.

[2018-02-09 17:22] joepuzzo commented on #242
This looks sick!

[2018-02-09 17:27] joepuzzo commented on #207
I will look into this for V3

[2018-02-09 17:28] joepuzzo commented on #241
There are already one or two issues open for this https://github.com/react-tools/react-form/issues/207. I will look into this solution for V3

[2018-02-10 23:07] mgutz commented on #240
@joepuzzo A single validator is still allowed right? While per field validations are nice, most complicated validations require dealing with multiple values from the form and props.

[2018-02-10 23:09] joepuzzo commented on #240
@tannerlinsley what are you thinking on this? ^^^^

[2018-02-10 23:10] joepuzzo commented on #240
@tannerlinsley @mgutz im thinking no we dont allow a single validator, BUT, we expose all the fields errors and values etc to each inputs validation function